@using BrainNotFound.Paper.Models.BusinessModels
@{
    List<ApplicationUser> students = ViewBag.Students;
    List<Section> sections = ViewBag.Sections;

}

<div class="x_panel">
    <div class="x_title">
        <h4><i class="fa fa-users"></i> Assigned</h4>
    </div>
    <div class="x_content">
        <i class="fa fa-pie-chart"></i> Sections
        @if (sections.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Section Number</th>
                        <th>Number of Students</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Section ClassSection in sections)
                    {
                        <tr>
                            <th scope="row">@ClassSection.SectionNumber</th>
                            <td>@ClassSection.Enrollments.Count Students</td>
                            <td>
                                <button onclick="removeSectionFromAssigmentList(@ClassSection.SectionId)"class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>
                &emsp;
                <p>There are no entire section assigned.</p>
            </span>

        }
        <hr />
        <i class="fa fa-user"></i>  Individual Students

        @if (students.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ApplicationUser student in students)
                    {
                        <tr>
                            <td>@student.FirstName</td>
                            <td>@student.LastName</td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Remove </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>
                &emsp;
                <p>There are no indivisual students assigned.</p>
            </span>
        }

    </div>
</div>
