@using BrainNotFound.Paper.Models.BusinessModels
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text"></i> Upcoming Tests</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            @if (ViewBag.UpcomingTests.Count > 0)
            {
                <div class="x_content">
                    <p>Click checkbox to select multiple courses.</p>
                    <div class="table-responsive">
                        <table id="UpcommingTestTable" class="table table-striped jambo_table bulk_action ">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Name </th>
                                    <th class="column-title">Course</th>
                                    <th class="column-title">Start Time</th>
                                    <th class="column-title">End Time</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (TestSchedule ts in ViewBag.UpcomingTests)
                                {
                                    <tr class="odd pointer">
                                        <td class=" ">@ts.Test.TestName</td>
                                        @{
                                            string DepartmentCodeAndCourseCode;
                                            List<Course> courses = ViewBag.Courses;
                                            List<Department> departments = ViewBag.Departments;
                                            Course currentCourse = courses.Where(c => c.CourseId == ts.Test.CourseId).First();
                                            Department currentDepartment = departments.Where(d => d.DepartmentId == currentCourse.DepartmentId).First();
                                            DepartmentCodeAndCourseCode = currentDepartment.DepartmentCode + " " + currentCourse.CourseCode;

                                        }
                                        <td class=" ">@DepartmentCodeAndCourseCode</td>
                                        <td class=" ">@String.Format("{0:f}", ts.StartTime)</td>
                                        <td class=" ">@String.Format("{0:f}", ts.EndTime)</td>
                                        <td class=" last">
                                            @if (ts.StartTime < DateTime.Now)
                                            {
                                                <a asp-controller="Student" asp-action="TakeTest" asp-route-testScheduleId="@ts.TestScheduleId" class="btn btn-primary btn-xs"> Take Test </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-default btn-xs"> Locked </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <p>There are no upcoming tests to be displayed</p>
            }
        </div>
    </div>
</div>

<!--View all previous tests-->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-file-text"></i> Previous Tests</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    @if (ViewBag.PreviousTests.Count > 0)
    {
        <div class="x_content">
            <p>Click checkbox to select multiple courses.</p>
            <div class="table-responsive">
                <table id="PreviousTestTable" class="table table-striped jambo_table bulk_action ">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Name </th>
                            <th class="column-title">Course</th>
                            <th class="column-title">Date Completed</th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; if;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TestSchedule ts in ViewBag.PreviousTests)
                        {
                            <tr class="odd pointer">
                                <td class=" ">@ts.Test.TestName</td>
                                @{
                                    string DepartmentCodeAndCourseCode;
                                    List<Course> courses = ViewBag.Courses;
                                    List<Department> departments = ViewBag.Departments;
                                    Course currentCourse = courses.Where(c => c.CourseId == ts.Test.CourseId).First();
                                    Department currentDepartment = departments.Where(d => d.DepartmentId == currentCourse.DepartmentId).First();
                                    DepartmentCodeAndCourseCode = currentDepartment.DepartmentCode + " " + currentCourse.CourseCode;

                                }
                                <td class=" ">@DepartmentCodeAndCourseCode</td>
                                <td class=" ">@String.Format("{0:f}", ts.Test.TestSchedules.Select(x => x.StartTime).First())</td>
                                <td class=" last">
                                    <a asp-controller="Student" asp-action="ReviewTest" asp-route-testScheduleId="@ts.TestScheduleId" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Review </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>There are no previous tests to be displayed.</p>
    }
</div>

@section scripts {
    <!--Datatable script for the previous tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#PreviousTestTable').DataTable({
                "order": [0, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [3] }
                ],
            });
        });
    </script>

    <!--Datatable script for the upcoming tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#UpcommingTestTable').DataTable({
                "order": [0, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [4] }
                ],
            });
        });
    </script>
}