@using BrainNotFound.Paper.Models.BusinessModels;
@using BrainNotFound.Paper.Services;
@{
    ViewData["Title"] = "test_name - Student";
    int option = 97;
}

<input id="testScheduleId" type="hidden" value="@ViewBag.TestSchedule.TestScheduleId" />
<!-- (General test information) beginning of row 2 -->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-info-circle"></i> @ViewBag.TestInformation.Course.Department.DepartmentCode @ViewBag.TestInformation.Course.CourseCode @ViewBag.TestInformation.TestName Review</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <h3>General Information</h3>
        <hr />
        <div class="animated flipInY col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-dot-circle-o"></i>
                </div>
                <div id="TotalPointsStats" class="count"> @ViewBag.Grades.totalPoints</div>
                <h3>Total Points</h3>
            </div>
        </div>
        <div class="animated flipInY  col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <div id="TotalQuestionsStats" class="count">@ViewBag.TotalQuestions</div>
                <h3>Questions</h3>
            </div>
        </div>
        <div class="animated flipInY col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-sort-alpha-asc"></i>
                </div>
                <div id="TotalSectionsStats" class="count">@ViewBag.TestSections.Count</div>
                <h3>Sections</h3>
            </div>
        </div>
        <div class="animated flipInY col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div id="TimeLimitStats" class="count">@ViewBag.Grades.Grade/@ViewBag.Grades.totalPoints</div>
                <h3>Grade</h3>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- True false section template-->
@foreach (TestSection ts in ViewBag.TestSections)
{
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-info-circle"></i> | @DefaultTestSectionText.Header.Get(ts.QuestionType)</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p><b>Instructions:</b> @ts.SectionInstructions</p>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p><b>Questions:</b> </p>
            </div>

            @{ switch (ts.QuestionType)
                {
                    case "TrueFalse":
                        int count = 1;
                        foreach (Question q in ts.Questions)
                        {
                            <div class="col-md-12 col-sm-12 col-xs-12 questionRow" style="padding: 20px 0 10px 0">
                                <div class="col-md-1 col-sm-1 col-xs-3 text-center">
                                    <span id="pointValue-56789">(<span class="pointValue" id="pointValue">@q.PointValue</span> pts.)</span>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-11">
                                    <p><strong>@count.</strong> @q.Content</p>
                                </div>
                                <div class="form-group col-md-3 col-sm-3 col-xs-10">

                                    @if (q.studentTrueFalseAnswer == null)
                                    {
                                        <!--Default-->
                                        <div id="gender" class="btn-group pull-right" data-toggle="buttons">
                                            <label class="btn btn-default btn-sm" data-questionType="trueFalse" data-toogled-class="btn-primary">
                                                <input class="trueFalse" disabled="disabled" type="radio" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="true"> &nbsp; True &nbsp;
                                            </label>
                                            <label class="btn btn-default btn-sm" data-questionType="trueFalse" data-toogled-class="btn-danger">
                                                <input class="trueFalse" disabled="disabled" type="radio" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="false"> False
                                            </label>
                                        </div>
                                    }
                                    else if (q.studentTrueFalseAnswer == true)
                                    {
                                        <!-- True -->
                                        <div id="gender" class="btn-group pull-right" data-toggle="buttons">
                                            <label class="btn btn-primary btn-sm" data-questionType="trueFalse" data-toogled-class="btn-primary">
                                                <input class="trueFalse" disabled="disabled" type="radio" checked="checked" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="true"> &nbsp; True &nbsp;
                                            </label>
                                            <label class="btn btn-default btn-sm" data-questionType="trueFalse" data-toogled-class="btn-danger">
                                                <input class="trueFalse" disabled="disabled" type="radio" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="false"> False
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- False -->
                                        <div id="gender" class="btn-group pull-right" data-toggle="buttons">
                                            <label class="btn btn-default btn-sm" data-questionType="trueFalse" data-toogled-class="btn-primary">
                                                <input class="trueFalse" disabled="disabled" type="radio" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="true"> &nbsp; True &nbsp;
                                            </label>
                                            <label class="btn btn-danger btn-sm" data-questionType="trueFalse" data-toogled-class="btn-danger">
                                                <input class="trueFalse" disabled="disabled" type="radio" checked="checked" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="false"> False
                                            </label>
                                        </div>
                                    }
                                </div>
                                @if (((TrueFalse)q).TrueFalseAnswer == q.studentTrueFalseAnswer)
                                {
                                    <div class="form-group col-md-1 col-sm-1 col-xs-2">
                                        <span class="question-correct"><i class="fa fa-check"></i></span>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group col-md-1 col-sm-1 col-xs-2">
                                        <span class="question-wrong"><i class="fa fa-close"></i></span>
                                    </div>
                                }
                            </div>
                            count++;
                        }
                        break;

                    case "MultipleChoice":
                        int countMC = 1;
                        foreach (Question q in ts.Questions)
                        {
                            <div class="col-md-12 col-sm-12 col-xs-12 questionRow" style="padding: 20px 0 10px 0">
                                <div class="col-md-1 col-sm-1 col-xs-3 text-center">
                                    <span id="pointValue-56789"><span class="pointValue" id="pointValue">(@q.PointValue</span> pts.)</span>
                                </div>
                                <div class="col-md-11 col-sm-11 col-xs-11">
                                    <p><strong>@countMC.</strong> @q.Content</p>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="form-group col-md-11 col-sm-11 col-xs-12">

                                    @{
                                        option = 97;
                                        foreach (MultipleChoiceAnswer mca in q.MultipleChoiceAnswers)
                                        {
                                            @if (q.studentMultipleChoiceAnswers.Where(smca => smca.MultipleChoiceAnswerId == mca.MultipleChoiceAnswerId).Any())
                                            {
                                                <a class="btn btn-primary btn-block text-left multipleChoiceOption" data-mcQuestionId="@q.QuestionId" data-mcanswerId="@mca.MultipleChoiceAnswerId" data-isSelected="true"><span class="pull-left"><strong>@Convert.ToChar(option). </strong> @mca.MultipleChoiceAnswerOption</span>&nbsp;</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-default btn-block text-left multipleChoiceOption" data-mcQuestionId="@q.QuestionId" data-mcanswerId="@mca.MultipleChoiceAnswerId" data-isSelected="false"><span class="pull-left"><strong>@Convert.ToChar(option). </strong> @mca.MultipleChoiceAnswerOption</span>&nbsp;</a>
                                            }
                                            @if (mca.IsCorrect == true && q.studentMultipleChoiceAnswers.Where(smca => smca.MultipleChoiceAnswerId == mca.MultipleChoiceAnswerId).Any())
                                            {
                                                <div class="form-group col-md-1 col-sm-1 col-xs-2">
                                                    <span class="question-correct"><i class="fa fa-check"></i></span>
                                                </div>
                                            }
                                            else if (mca.IsCorrect == true && q.studentMultipleChoiceAnswers.Where(smca => smca.MultipleChoiceAnswerId != mca.MultipleChoiceAnswerId).Any())
                                            {
                                                <div class="form-group col-md-1 col-sm-1 col-xs-2">
                                                    <span class="question-wrong"><i class="fa fa-close"></i></span>
                                                </div>
                                            }
                                            else if (mca.IsCorrect == false && q.studentMultipleChoiceAnswers.Where(smca => smca.MultipleChoiceAnswerId != mca.MultipleChoiceAnswerId).Any())
                                            {
                                                <div class="form-group col-md-1 col-sm-1 col-xs-2">
                                                    <span class="question-correct"><i class="fa fa-check"></i></span>
                                                </div>
                                            }
                                            option++;
                                        }
                                    }
                                </div>
                            </div>
                            countMC++;
                        }
                        break;
                    case "Essay":
                        int essayCount = 1;
                        foreach (Question q in ts.Questions)
                        {
                            <div class="col-md-12 col-sm-12 col-xs-12 questionRow" style="padding: 20px 0 10px 0">
                                <div class="col-md-1 col-sm-1 col-xs-3 text-center">
                                    <span id="pointValue-56789">(<span class="pointValue" id="pointValue">@q.PointValue</span> pts.)</span>
                                </div>
                                <div class="col-md-11 col-sm-11 col-xs-11">
                                    <p><strong>@essayCount.</strong> @q.Content</p>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3 text-center"></div>
                                @if (q.studentEssayAnswer == null)
                                {
                                    <div class="col-md-11 col-sm-11 col-xs-12">
                                        <textarea disabled="disabled" class="studentEssayQuestionAnswer" data-essayQuestionId="@q.QuestionId"></textarea>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-11 col-sm-11 col-xs-12">
                                        <textarea disabled="disabled" class="studentEssayQuestionAnswer" data-essayQuestionId="@q.QuestionId">@q.studentEssayAnswer </textarea>
                                    </div>
                                }
                                <div class="clearfix"></div>
                                <br />
                                <div class="col-md-1 col-sm-1 col-xs-3 text-center"></div>
                                <div class="col-md-11 col-sm-11 col-xs-12">
                                    <textarea disabled="disabled" class="bg-default-light">Teacher comments: (please write words and not gobbeldygook...) </textarea>
                                </div>
                            </div>
                        }
                        break;
                    default:
                        break;
                }
            }
        </div>
    </div>
}

<!--Pledge and submition-->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-paper-plane-o"></i> Pledge & Submitions</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <p>I pledge that I did not cheat. All questions were answered to the best of my ability. My phone a friend was Chuck Norris.</p>
                <br />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                @if (ViewBag.StudentTestAssignment.Signed)
                {
                    <input disabled="disabled" type="text" id="fullnameInput" class="form-control " name="fullname" required="" placeholder="@ViewBag.Student.FirstName @ViewBag.Student.LastName">
                }
                else
                {
                    <input type="text" id="fullnameInput" class="form-control " name="fullname" required="" placeholder="Pledge not signed">
                }
                <span id="fullname" disabled="disabled" data-studentName="@ViewBag.Student.FirstName @ViewBag.Student.LastName">@ViewBag.Student.FirstName @ViewBag.Student.LastName</span><br />
            </div>
            @if (ViewBag.StudentTestAssignment.Signed)
            {
                <div class="form-group col-md-1 col-sm-1 col-xs-2">
                    <span class="question-correct"><i class="fa fa-check"></i></span>
                </div>
            }
            else
            {
                <div class="form-group col-md-1 col-sm-1 col-xs-2">
                    <span class="question-wrong"><i class="fa fa-close"></i></span>
                </div>
            }
            <br />
            <div class="clearfix"></div>
        </div>
    </div>
</div>