@using BrainNotFound.Paper.Models.BusinessModels;
@using BrainNotFound.Paper.Services;
@{
    ViewData["Title"] = "test_name - Student";
    int option = 97;
}

<input id="testScheduleId" type="hidden" value="@ViewBag.TestSchedule.TestScheduleId" />
<!-- (General test information) beginning of row 2 -->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-info-circle"></i> @ViewBag.TestInformation.Course.Department.DepartmentCode @ViewBag.TestInformation.Course.CourseCode @ViewBag.TestInformation.TestName</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <h3>General Information</h3>
        <hr />
        <div class="animated flipInY col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-dot-circle-o"></i>
                </div>
                <div id="TotalPointsStats" class="count"> @ViewBag.TotalPoints.totalPoints</div>
                <h3>Total Points</h3>
            </div>
        </div>
        <div class="animated flipInY  col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-question"></i>
                </div>
                <div id="TotalQuestionsStats" class="count">@ViewBag.TotalQuestions</div>
                <h3>Questions</h3>
            </div>
        </div>
        <div class="animated flipInY col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-sort-alpha-asc"></i>
                </div>
                <div id="TotalSectionsStats" class="count">@ViewBag.TestSections.Count</div>
                <h3>Sections</h3>
            </div>
        </div>
        <div class="animated flipInY col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div id="TimeLimitStats" class="count">@(ViewBag.TestSchedule.EndTime.Subtract(ViewBag.TestSchedule.StartTime))</div>
                <h3>Time Limit</h3>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div style="width: 100px; background-color: #999; z-index: 10; position: fixed; right: 0; bottom: 5px; height: 30px;">
    <p id="timerScroll"></p>
</div>

@foreach (TestSection ts in ViewBag.TestSections)
{
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-info-circle"></i> | @DefaultTestSectionText.Header.Get(ts.QuestionType)</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p><b>Instructions:</b> @ts.SectionInstructions</p>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p><b>Questions:</b> </p>
            </div>

            @{ switch (ts.QuestionType)
                {
                    case "TrueFalse":
                        int count = 1;
                        foreach (Question q in ts.Questions)
                        {
                            <div class="col-md-12 col-sm-12 col-xs-12 questionRow" style="padding: 20px 0 10px 0">
                                <div class="col-md-1 col-sm-1 col-xs-3 text-center">
                                    <span id="pointValue-56789">(<span class="pointValue" id="pointValue">@q.PointValue</span> pts.)</span>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-11">
                                    <p><strong>@count.</strong> @q.Content</p>
                                </div>
                                <div class="form-group col-md-2 col-sm-2 col-xs-12">

                                    @if (q.studentTrueFalseAnswer == null)
                                    {
                                        <!--Default-->
                                        <div id="gender" class="btn-group  pull-right" data-toggle="buttons">
                                            <label class="btn btn-default btn-sm" data-questionType="trueFalse" data-toogled-class="btn-primary">
                                                <input class="trueFalse" type="radio" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="true"> &nbsp; True &nbsp;
                                            </label>
                                            <label class="btn btn-default btn-sm" data-questionType="trueFalse" data-toogled-class="btn-danger">
                                                <input class="trueFalse" type="radio" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="false"> False
                                            </label>
                                        </div>

                                    }
                                    else if (q.studentTrueFalseAnswer == true)
                                    {
                                        <!-- True -->
                                        <div id="gender" class="btn-group pull-right" data-toggle="buttons">
                                            <label class="btn btn-primary btn-sm" data-questionType="trueFalse" data-toogled-class="btn-primary">
                                                <input class="trueFalse" type="radio" checked="checked" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="true"> &nbsp; True &nbsp;
                                            </label>
                                            <label class="btn btn-default btn-sm" data-questionType="trueFalse" data-toogled-class="btn-danger">
                                                <input class="trueFalse" type="radio" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="false"> False
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <!-- False -->
                                        <div id="gender" class="btn-group pull-right" data-toggle="buttons">
                                            <label class="btn btn-default btn-sm" data-questionType="trueFalse" data-toogled-class="btn-primary">
                                                <input class="trueFalse" type="radio" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="true"> &nbsp; True &nbsp;
                                            </label>
                                            <label class="btn btn-danger btn-sm" data-questionType="trueFalse" data-toogled-class="btn-danger">
                                                <input class="trueFalse" type="radio" checked="checked" name="trueFalseAnswer-@q.QuestionId" data-questionId="@q.QuestionId" value="false"> False
                                            </label>
                                        </div>
                                    }
                                </div>

                            </div>
                            count++;
                        }
                        break;
                    case "MultipleChoice":
                        int countMC = 1;
                        foreach (Question q in ts.Questions)
                        {
                            int totalPoints = 0;
                            q.MultipleChoiceAnswers.ShuffleList();
                            <div class="col-md-12 col-sm-12 col-xs-12 questionRow" style="padding: 20px 0 10px 0">
                                <div class="col-md-1 col-sm-1 col-xs-3 text-center">
                                    <span id="pointValue-56789"><span class="pointValue" id="pointValue">(@(q.PointValue * q.MultipleChoiceAnswers.Count)</span> pts.)</span>
                                </div>
                                <div class="col-md-11 col-sm-11 col-xs-11">
                                    <p><strong>@countMC.</strong> @q.Content</p>
                                </div>

                                <div class="col-md-1"></div>
                                <div class="form-group col-md-11 col-sm-11 col-xs-12">
                                    @{
                                        option = 97;
                                        foreach (MultipleChoiceAnswer mca in q.MultipleChoiceAnswers)
                                        {
                                            if (q.studentMultipleChoiceAnswers.Where(smca => smca.MultipleChoiceAnswerId == mca.MultipleChoiceAnswerId).Any())
                                            {
                                                <a class="btn btn-primary btn-block text-left multipleChoiceOption" data-mcQuestionId="@q.QuestionId" data-mcanswerId="@mca.MultipleChoiceAnswerId" data-isSelected="true"><span class="pull-left"><strong>@Convert.ToChar(option). </strong> @mca.MultipleChoiceAnswerOption</span>&nbsp;</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-default btn-block text-left multipleChoiceOption" data-mcQuestionId="@q.QuestionId" data-mcanswerId="@mca.MultipleChoiceAnswerId" data-isSelected="false"><span class="pull-left"><strong>@Convert.ToChar(option). </strong> @mca.MultipleChoiceAnswerOption</span>&nbsp;</a>
                                            }
                                            option++;
                                            totalPoints += mca.Question.PointValue;
                                        }
                                    }
                                </div>
                            </div>
                            countMC++;
                        }
                        break;
                    case "Essay":
                        int essayCount = 1;
                        foreach (Question q in ts.Questions)
                        {
                            <div class="col-md-12 col-sm-12 col-xs-12 questionRow" style="padding: 20px 0 10px 0">
                                <div class="col-md-1 col-sm-1 col-xs-3 text-center">
                                    <span id="pointValue-56789">(<span class="pointValue" id="pointValue">@q.PointValue</span> pts.)</span>
                                </div>
                                <div class="col-md-11 col-sm-11 col-xs-11">
                                    <p><strong>@essayCount.</strong> @q.Content</p>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3 text-center">
                                </div>
                                @if (q.studentEssayAnswer == null)
                                {
                                    <div class="col-md-11 col-sm-11 col-xs-12">
                                        <textarea class="studentEssayQuestionAnswer" data-essayQuestionId="@q.QuestionId"></textarea>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-11 col-sm-11 col-xs-12">
                                        <textarea class="studentEssayQuestionAnswer" data-essayQuestionId="@q.QuestionId">@q.studentEssayAnswer </textarea>
                                    </div>
                                }

                            </div>
                        }
                        break;
                    case "Matching":
                        int matchingCount = 1;
                        foreach (Question q in ts.Questions)
                        {
                            q.MatchingQuestionSides.ShuffleList();
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="col-md-12 col-sm-12 col-xs-12 questionRow" style="padding: 20px 0 10px 0">
                                        <div class="col-md-1 col-sm-1 col-xs-3 text-center">
                                            <span id="pointValue-56789">(<span class="pointValue" id="pointValue">1</span> pts.)</span>
                                        </div>
                                        <div class="col-md-10 col-sm-11 col-xs-11">
                                            <p><strong>@matchingCount.</strong> @q.Content</p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="ln_solid"></div>
                                        <div class="col-md-11 col-sm-11 col-xs-12"></div>
                                        @foreach (MatchingQuestionSide mqs in q.MatchingQuestionSides)
                                        {
                                            <div class="col-md-5 col-sm-5 col-xs-12">
                                                <p>@mqs.Content</p>
                                            </div>
                                            <div class=" col-md-5 col-sm-5 col-xs-12">
                                                <select data-matchingAnswerSideId="@mqs.MatchingAnswerSideId" data-mQuestionId="@q.QuestionId" data-matchingQuestionSideId="@mqs.MatchingQuestionSideId" class="form-control MatchingAnswerOptions" required="">
                                                    @if (q.studentMatchingAnswers.Where(x => x.MatchingQuestionSideId == mqs.MatchingQuestionSideId).Any())
                                                    {
                                                        @foreach (MatchingAnswerSide mas in q.MatchingAnswerSides)
                                                        {
                                                            if (q.studentMatchingAnswers.Where(x => x.MatchingQuestionSideId == mqs.MatchingQuestionSideId && x.MatchingAnswerSideId == mas.MatchingAnswerSideId).Any())
                                                            {
                                                                <option value="@mas.MatchingAnswerSideId">@mas.MatchingAnswer</option>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="">Choose..</option>
                                                        @foreach (MatchingAnswerSide mas in q.MatchingAnswerSides)
                                                        {
                                                            <option value="@mas.MatchingAnswerSideId">@mas.MatchingAnswer</option>
                                                        }
                                                    }

                                                </select>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        break;
                    default:
                        break;
                }
            }
        </div>
    </div>
}


<!--Pledge and submition-->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-paper-plane-o"></i> Pledge & Submitions</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <p>I pledge that I did not cheat. All questions were answered to the best of my ability. My phone a friend was Chuck Norris.</p>
                <br />
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <input type="text" id="fullnameInput" class="form-control " name="fullname" required="" placeholder="Type in full name">
                <span id="fullname" data-studentName="@ViewBag.Student.FirstName @ViewBag.Student.LastName">@ViewBag.Student.FirstName @ViewBag.Student.LastName</span><br />
                <span class="text-danger hidden" id="pledgeErrorMessage">Signature does not match name</span>

            </div>

            <br />
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <br />
                <button id="submitTest" type="button" class="btn btn-info btn-lg">Submit Test</button>
            </div>
        </div>

    </div>
</div>

<!-- Error Modal-->
<div id="ErrorModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2"></h4>
            </div>
            <div class="modal-body">
                <p id="errorMessagePlaceHolder"></p>
                <div class="modal-footer">
                    <button id="MessageNo" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button id="MessageYes" type="button" class="btn btn-default submitTest" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Success Modal-->
<div id="SuccessModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="successModalHeader">Congratulations!</h4>
            </div>
            <div class="modal-body">
                <p id="successModalPlaceholder"></p>
                <div class="modal-footer">
                    <button id="submit" type="button" class="btn btn-default submitTest" data-dismiss="modal">Okay!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- All questions not answered Modal-->
<div id="QuestionsAnsweredModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="questionModalHeader">Warning!</h4>
            </div>
            <div class="modal-body">
                <p id="questionModalPlaceholder"></p>
                <div class="modal-footer">
                    <button id="questionModalYes" type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button id="questionModalNo" type="button" class="btn btn-default submitTest" data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Timer ran out timer-->
<div id="TimerOutModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="TimerOutModalHeader">Timer Expired!</h4>
            </div>
            <div class="modal-body">
                <p>Please read the pledge, sign if you did not cheat, and submit the test.</p> <br />
                <p>I pledge that I did not cheat. All questions were answered to the best of my ability. My phone a friend was Chuck Norris.</p>
                <br />
                <input type="text" id="TimerOutFullname" class="form-control " name="fullname" required="" placeholder="Type in full name">
                <span id="TimerOutStudentName" data-studentName="@ViewBag.Student.FirstName @ViewBag.Student.LastName">@ViewBag.Student.FirstName @ViewBag.Student.LastName</span><br />
                <span class="text-danger hidden" id="TimeOutPledgeErrorMessage">Signature does not match name</span>
                <div class="modal-footer">
                    <button id="TimerOutModalYes" type="button" class="btn btn-default submitTest">Submit withOUT pledge</button>
                    <button id="TimerOutModalNo" type="button" class="btn btn-primary submitTestOnTimerOut">Submit with Pledge</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendors/autosize/dist/autosize.min.js"></script>
    <script src="~/js/TakeTest.js" type="text/javascript"></script>

    <!--Timer for how long the test lasts-->
    <script type="text/javascript">
        var deadline = new Date("@ViewBag.StopTimer").getTime();

        var x = setInterval(function () {
            var now = new Date().getTime();
            var t = deadline - now;
            var hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((t % (1000 * 60)) / 1000);
            document.getElementById("timerScroll").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
            document.getElementById("TimeLimitStats").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";

            //If the timer has expired, lock out the test and make the student submit the pledge
            if (t <= 0) {
                clearInterval(x);
                document.getElementById("timerScroll").innerHTML = "EXPIRED";
                document.getElementById("TimeLimitStats").innerHTML = "EXPIRED";
                submitted();
                $("#TimerOutModal").modal("toggle");
            }
        }, 1000);

        

    </script>

}
