@using BrainNotFound.Paper.Models.BusinessModels
@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;
@{
    ViewData["Title"] = "View Section - Student";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> Section Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h3>@ViewBag.department.DepartmentCode @ViewBag.course.CourseCode @ViewBag.course.Name - @ViewBag.section.SectionNumber</h3>
                        <ul class="list-unstyled user_data">
                            <li>
                                <b>Capacity</b> @ViewBag.section.Capacity
                            </li>
                            <li>
                                <b> Location:</b> @ViewBag.section.Location
                            </li>
                            <li>
                                @{
                                    // Find the meeting times for the section
                                    List<String> days = new List<string>();
                                    List<SectionMeetingTime> sectionMeetingTimes = ViewBag.sectionMeetingTimeList;
                                    DateTime startTime = new DateTime();
                                    DateTime endTime = new DateTime();
                                    var sectionMeetingTime = sectionMeetingTimes.Where(smt => smt.SectionId == ViewBag.section.SectionId).ToList();
                                    foreach (SectionMeetingTime smt in sectionMeetingTime)
                                    {
                                        days.Add(smt.Day);
                                        startTime = smt.StartTime;
                                        endTime = smt.EndTime;
                                    }
                                    String day = string.Join(", ", days);
                                }
                                <b>Days Meeting: </b> @day
                            </li>
                            <li>
                                <b>Start Time: </b> @startTime.ToString("h:mm tt")
                            </li>
                            <li>
                                <b>End Time:</b> @endTime.ToString("h:mm tt")
                            </li>
                            <li>
                                <b>Instructor: </b>@ViewBag.instructor.FirstName @ViewBag.instructor.LastName
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!--View Upcoming Tests-->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text"></i> Upcoming Tests</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            @if (ViewBag.UpcomingTests.Count > 0)
            {
                <div class="x_content">
                    <p>Click checkbox to select multiple courses.</p>
                    <div class="table-responsive">
                        <table id="UpcomingTestsTable" class="table table-striped jambo_table bulk_action ">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Name </th>
                                    <th class="column-title">Course</th>
                                    <th class="column-title">Time</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Test test in ViewBag.UpcomingTests)
                                {
                                    <tr class="odd pointer">
                                        <td class=" ">@test.TestName</td>

                                        <td class=" ">@ViewBag.department.DepartmentCode @ViewBag.course.CourseCode</td>
                                        <td class=" ">@String.Format("{0:f}", test.TestSchedules.Select(x => x.StartTime).First())</td>
                                        <td class=" last">
                                            <a class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <p>There are no upcoming tests to be displayed</p>
            }
        </div>
    </div>
</div>

<!--View all previous tests-->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-file-text"></i> Previous Tests</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    @if (ViewBag.PreviousTests.Count > 0)
    {
        <div class="x_content">
            <p>Click checkbox to select multiple courses.</p>
            <div class="table-responsive">
                <table id="PreviousTestsTable" class="table table-striped jambo_table bulk_action ">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Name </th>
                            <th class="column-title">Course</th>
                            <th class="column-title">Time</th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; if;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Test test in ViewBag.PreviousTests)
                        {
                            <tr class="odd pointer">
                                <td class=" ">@test.TestName</td>
                                <td class=" ">@ViewBag.department.DepartmentCode @ViewBag.course.CourseCode</td>
                                <td class=" ">@String.Format("{0:f}", test.TestSchedules.Select(x => x.StartTime).First())</td>
                                <td class=" last">
                                    <a class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>There are no previous tests to be displayed.</p>
    }
</div>

@section scripts {
    <!--Datatables to display the upcoming tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#UpcomingTestsTable').DataTable({
                "order": [0, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [3] }
                ],
            });
        });
    </script>

    <!--Datatables to display the previous tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#PreviousTestsTable').DataTable({
                "order": [0, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [3] }
                ],
            });
        });
    </script>
}