@using BrainNotFound.Paper.Models.BusinessModels;
@using BrainNotFound.Paper.Services;

@{
    ViewData["Title"] = "View Instructor - Student";
}

<div class="x_content">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center"></div>
        <div class="clearfix"></div>
        @foreach (ApplicationUser i in ViewBag.instructorList)
        {
            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <div class="left col-xs-5 text-center">
                            <img src="~/@(i.ImageURL)" alt="" class="img-circle img-responsive">
                        </div>
                        <div class="left col-xs-12">
                            <h2>@i.FirstName  @i.LastName</h2>
                            <br />
                            <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: @i.Address  @i.City, @i.State  @i.ZipCode </li>
                                <li><i class="fa fa-phone"></i> Phone #: @(i.PhoneNumber == null ? " " : PhoneNumber.CalculatePhoneNumber(i.PhoneNumber))</li>
                                <li><i class="fa fa-at user-profile-icon"></i> Email #: @i.Email</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>