@using BrainNotFound.Paper.Models.BusinessModels
@using System.Text.RegularExpressions

@{
    ViewData["Title"] = "View Instructor - Student";
}

<div class="x_content">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">

        </div>

        <div class="clearfix"></div>
        @foreach (ApplicationUser i in ViewBag.instructorList)
        {
            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <div class="left col-xs-5 text-center">
                            <img src="~/images/profiles/Instructors/@(i.Id).png" alt="" class="img-circle img-responsive">
                        </div>
                        <div class="left col-xs-12">
                            <h2>@i.FirstName  @i.LastName</h2>

                            <br />
                            <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Address: @i.Address  @i.City, @i.State  @i.ZipCode </li>
                                <li><i class="fa fa-phone"></i> Phone #: </li>
                                <li><i class="fa fa-at user-profile-icon"></i> Email #: @i.Email</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <!--
                            <button type="button" class="btn btn-success btn-xs">
                                <i class="fa fa-user">
                                </i> <i class="fa fa-comments-o"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> View Profile
                            </button>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
