@using BrainNotFound.Paper.Models.BusinessModels;
@model ApplicationUser;

@{
    ViewData["Title"] = "Manage Administators - Admin";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-users"></i> Administrators</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a id="newAdminButton" data-toggle="modal" data-target="#NewAdminModal"><i class="fa fa-plus"></i> New Administrator</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>@ViewBag.errorMessage</p>

                <div class="table-responsive">
                    <table id="adminTable" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">First Name </th>
                                <th class="column-title">Last Name </th>
                                <th class="column-title">Phone Number </th>
                                <th class="column-title">Email </th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Actions</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) </a>
                                    <a class="antoo" style="font-weight:500;" href="#"> &nbsp;&nbsp; Remove</a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (ApplicationUser admin in ViewBag.adminList)
                            {
                                <tr class="odd pointer">
                                    <td class=" ">@admin.FirstName</td>
                                    <td class=" ">@admin.LastName</td>
                                    <td class=" ">@admin.PhoneNumber</td>
                                    <td class=" ">@admin.Email</td>
                                    <td>
                                        <button type="button" id="ViewAdmin" data-target="#ViewAdminModal" data-toggle="modal" value="@admin.UserName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </button>
                                        <button type="button" id="EditAdmin" value="@admin.UserName" data-toggle="modal" data-target="#EditAdminModal"  class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </button>
                                        <button id="ConfirmDelete" type="submit" data-target="#ConfirmModal" value="@admin.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal for viewing an admin-->
<div id="ViewAdminModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel2">Administrator Information</h3>
            </div>
            <div id="ViewAdminPlaceholder" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal for editing an admin-->
<div id="EditAdminModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="EditAdminPlaceholder">

            </div>
        </div>
    </div>
</div>

<!--New Admin modal-->
<div id="NewAdminModal" class="modal fade new-admin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="NewAdminForm" class="form-horizontal form-label-left input_mask">
                <div class="modal-header">
                    <h3 class="modal-title"><i class="fa fa-mortar-board"></i> New Administrator</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Salutation</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="SalutationInput" asp-for="Salutation" class="select2_single form-control" tabindex="1">
                                <option value="mr">Mr.</option>
                                <option value="mrs">Mrs.</option>
                                <option value="ms">Ms.</option>
                                <option value="miss">Miss</option>
                                <option value="dr">Dr.</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dept-code">
                            First Name <span class="required">*</span>
                        </label>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="FirstNameInput" asp-for="FirstName" type="text" class="form-control has-feedback-left" placeholder="First Name">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminFirstNameErrorMessage" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dept-code">
                            Last Name <span class="required">*</span>
                        </label>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="LastNameInput" asp-for="LastName" type="text" class="form-control has-feedback-left" placeholder="Last Name">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminLastNameErrorMessage" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dept-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="EmailInput" asp-for="Email" type="text" class="form-control has-feedback-left" placeholder="Email">
                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminEmailErrorMessage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Phone Number</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="PhoneInput" asp-for="PhoneNumber" type="text" class="form-control has-feedback-left" placeholder="Phone">
                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminPhoneErrorMessage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Address</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="AddressInput" asp-for="Address" type="text" class="form-control has-feedback-left" placeholder="Address">
                            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminAddressErrorMessage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">City</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="CityInput" asp-for="City" type="text" class="form-control has-feedback-left" placeholder="City">
                            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminCityErrorMessage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">State</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="StateInput" asp-for="State" type="text" class="form-control has-feedback-left" placeholder="State">
                            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminStateErrorMessage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">ZipCode</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="ZipInput" asp-for="ZipCode" type="text" class="form-control has-feedback-left" placeholder="ZipCode">
                            <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminZipErrorMessage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">Date of Birth</label>
                        <div class="col-md-69 col-sm-6 col-xs-9">
                            <input id="DOBInput" asp-for="DOB" type="date" class="form-control has-feedback-left" data-inputmask="'mask': '99/99/9999'" placeholder="##/##/####">
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminDOBErrorMessage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12  parsley-error">
                            Password <span class="required">*</span>
                        </label>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="PasswordInput" asp-for="Password" type="password" class="form-control has-feedback-left" placeholder="Password">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminPasswordErrorMessage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12  parsley-error">
                           Confirm Password <span class="required">*</span>
                        </label>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="ConfirmPasswordInput" asp-for="ConfirmPassword" type="password" class="form-control has-feedback-left" placeholder="Password">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <span id="AdminConfirmPasswordErrorMessage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="CancelCreateAdmin" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="CreateAdmin" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Confirm Deleting Modal-->
<div id="ConfirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Warning: Deleting Admin</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this admin?</p>
                <div class="modal-footer">
                    <button id="YesDelete" type="button" class="btn btn-default">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message Modal-->
<div id="ErrorModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Delete Admin Error</h4>
            </div>
            <div class="modal-body">
                <p id="errorMessagePlaceHolder"></p>
                <div class="modal-footer">
                    <button id="MessageClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <!--Administrator functions-->
    <script type="text/javascript" src="~/js/Administrator.js"></script>

    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#adminTable').DataTable({
                "order": [1, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [4] }
                ]
            });
        });
    </script>

    <!-- Datatables -->
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
}