@using BrainNotFound.Paper.Models.BusinessModels

@model List<Course>

@{
    ViewData["Title"] = "Manage Courses - Admin";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> Courses</h2>
                    <p>@ViewBag.Message</p>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a asp-controller="Admin" asp-action="NewCourse"><i class="fa fa-plus"></i> New Course</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @if (Model.Any<Course>())
                    {
                        <p>Click checkbox to select multiple courses.</p>
                        <div class="table-responsive">
                            <table id="ViewAllCourses" class="table table-striped ">
                                <thead>
                                    <tr class="headings">
                                        <th>
                                            <input type="checkbox" id="check-all" class="flat">
                                        </th>
                                        <th class="column-title">Course Code </th>
                                        <th class="column-title">Name </th>
                                        <th class="column-title">Credit Hours </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Action</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Course course in Model)
                                    {
                                        <tr class="odd pointer">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records">
                                            </td>
                                            @{
                                                String name;
                                                List<Department> departments = ViewBag.DepartmentList;
                                                var dept = departments.Where(x => x.DepartmentId == course.DepartmentId).First();
                                                name = dept.DepartmentCode + " " + course.CourseCode;
                                            }
                                            <td class=" ">@name</td>
                                            <td class=" ">@course.Name</td>
                                            <td class=" ">@course.CreditHours</td>
                                            <td class=" last">
                                                <form asp-controller="Admin" asp-action="DeleteCourse">
                                                    <a asp-controller="Admin" asp-action="ViewCourse" asp-route-code="@dept.DepartmentCode@course.CourseCode" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                                    <a asp-controller="Admin" asp-action="EditCourse" asp-route-id="@course.CourseId" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                    <input type="hidden" name="CourseId" value="@course.CourseId" />
                                                    <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </button>
                                                </form>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<button onclick="buutonClick()">Click me!</button>
@section scripts{


<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="~/vendors/jszip/dist/jszip.min.js"></script>
<script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

    
<script type="text/javascript">

    function buutonClick() {
        $("#ViewAllCourses").DataTable();
    }
</script>
}