@using BrainNotFound.Paper.Models.BusinessModels
@model Department

@{
    ViewData["Title"] = "Department Info - Admin";
    int rowIndex = 0;
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-mortar-board"></i> Departments</h2>

                    <!--Error message for deleting a department-->
                    @if (ViewBag.message != null)
                    {
                        <script type="text/javascript">
                                window.onload = function () {
                                    alert("@ViewBag.message");
                                };
                        </script>
                    }

                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

                        <li>
                            <a id="newDepartmentButton" data-toggle="modal" data-target="#NewDepartmentModel" ><i class="fa fa-plus"></i> New Department</a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @if (ViewBag.departmentList != null)
                    {
                        <div class="table-responsive">
                            <table id="departmentTable" class="table table-striped jambo_table bulk_action ">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">Name </th>
                                        <th class="column-title">Code </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Action</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (Department department in ViewBag.departmentList)
                                    {
                                        <tr class="odd pointer">
                                            <td class=" ">@department.DepartmentName </td>
                                            <td class=" ">@department.DepartmentCode </td>
                                            <td class=" last">
                                                <form asp-action="DeleteDepartment" asp-controller="Admin">
                                                    <button id="EditDepartmentButton" type="button" onClick="EditDepartmentCodeAndName(@department.DepartmentId)" data-toggle="modal" data-target="#departmentModal" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </button>
                                                    <input type="hidden" name="DepartmentId" value="@department.DepartmentId" />
                                                    <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </button>
                                                </form>

                                            </td>

                                        </tr>
                                        rowIndex++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="center">There are no departments to list. Please create a new department.</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal for editing a department-->
<div id="departmentModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="departmentPlaceholder">

            </div>
        </div>
    </div>
</div>

<!-- Large modal -->

<div id="NewDepartmentModel" class="modal fade new-department-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="newDepartmentForm" asp-action="Departments" asp-controller="Admin" data-parsley-validate class="form-horizontal form-label-left">

                <div class="modal-body" id="newDepartmentPlaceholder">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                Department Code <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" asp-for="DepartmentCode" id="departmentCode" class="form-control col-md-7 col-xs-12">
                                <span id="codeError" asp-validation-for="DepartmentCode" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Department Name</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="departmentName" asp-for="DepartmentName" class="form-control col-md-7 col-xs-12">
                                <span asp-validation-for="DepartmentName" class="text-danger"></span>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit"  class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
    {

    <script type="text/javascript" src="~/js/Department.js"></script>

    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#departmentTable').DataTable({
                "order": [0, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [2] }
                ],
                "sScrollY": "500px"
            });
        });
    </script>
}