@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;

@{
    ViewData["Title"] = "Edit Instructor - Admin";
}

<h1>Edit Instructor</h1>
<hr />

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dept_table">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Edit Instructor</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form asp-controller="Admin" asp-action="EditInstructor" id="new-department" class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dept-code">
                                First Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input value="@ViewBag.instructor.FirstName" type="text" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dept-code">
                                Last Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input value="@ViewBag.instructor.LastName" type="text" id="dept-code" name="dept-code" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Salutation</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1">
                                    <option>@ViewBag.instructor.Salutation</option>
                                    <option value="mr">Mr.</option>
                                    <option value="mrs">Mrs.</option>
                                    <option value="ms">Ms.</option>
                                    <option value="miss">Miss</option>
                                    <option value="dr">Dr.</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dept-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input value="@ViewBag.instructor.Email" id="dept-name" class="form-control col-md-7 col-xs-12" type="text" name="dept-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="password" class="form-control" value="passwordonetwo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Phone Number</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input value="@ViewBag.instructor.PhoneNumber" type="text" class="form-control" data-inputmask="'mask' : '(999) 999-9999'">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-primary" type="button">Cancel</button>
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>