@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;

@{
    ViewData["Title"] = "Edit Profile - Admin";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-user"></i> Edit Profile</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <span aria-hidden="true"></span>
                        <ul class="parsley-errors-list filled" id="parsley-id-5">
                            <li class="parsley-required">@ViewBag.UserError</li>
                        </ul>
                    </div>
                    <br />
                    <br />

                    <form asp-controller="Admin" asp-action="EditProfile" class="form-horizontal form-label-left input_mask">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Salutation</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select asp-for="Salutation" class="select2_single form-control" tabindex="1">
                                    <option value="mr">Mr.</option>
                                    <option value="mrs">Mrs.</option>
                                    <option value="ms">Ms.</option>
                                    <option value="miss">Miss</option>
                                    <option value="dr">Dr.</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dept-code">
                                First Name <span class="required">*</span>
                            </label>
                            @{
                                bool isFirstNameValid = !(ViewData.ModelState["FirstName"] != null && ViewData.ModelState["FirstName"].Errors.Any());

                            }
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="FirstName" value="@ViewBag.admin.UserName" type="text" class="form-control has-feedback-left  @(isFirstNameValid ? String.Empty : "parsley-error")" placeholder="First Name">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                <ul class="parsley-errors-list filled" id="parsley-id-5">
                                    <li class="parsley-required"> @(isFirstNameValid ? String.Empty : ViewData.ModelState["FirstName"].Errors.First().ErrorMessage)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dept-code">
                                Last Name <span class="required">*</span>
                            </label>
                            @{
                                bool isLastNameValid = !(ViewData.ModelState["LastName"] != null && ViewData.ModelState["LastName"].Errors.Any());

                            }
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="LastName" value="@ViewBag.admin.LastName" type="text" class="form-control has-feedback-left  @(isLastNameValid ? String.Empty : "parsley-error")" placeholder="Last Name">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                <ul class="parsley-errors-list filled" id="parsley-id-5">
                                    <li class="parsley-required"> @(isLastNameValid ? String.Empty : ViewData.ModelState["LastName"].Errors.First().ErrorMessage)</li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dept-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="Email" value="@ViewBag.admin.Email" type="text" class="form-control has-feedback-left" placeholder="Email">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Phone Number</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="PhoneNumber" value="@ViewBag.admin.PhoneNumber" type="text" class="form-control has-feedback-left" placeholder="Phone">
                                <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Address</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="Address" value="@ViewBag.admin.Address" type="text" class="form-control has-feedback-left" placeholder="Address">
                                <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">City</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="City" value="@ViewBag.admin.City" type="text" class="form-control has-feedback-left" placeholder="City">
                                <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">State</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="State" value="@ViewBag.admin.State" type="text" class="form-control has-feedback-left" placeholder="State">
                                <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">ZipCode</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ZipCode" value="@ViewBag.admin.ZipCode" type="text" class="form-control has-feedback-left" placeholder="ZipCode">
                                <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Date of Birth</label>
                            <div class="col-md-69 col-sm-6 col-xs-9">
                                <input asp-for="DOB" value="@ViewBag.admin.DOB" type="text" class="form-control has-feedback-left" data-inputmask="'mask': '99/99/9999'" placeholder="##/##/####">
                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12  parsley-error">
                                Password <span class="required">*</span>
                            </label>
                            @{
                                bool isPasswordValid = !(ViewData.ModelState["Password"] != null && ViewData.ModelState["Password"].Errors.Any());

                            }

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="Password" type="password" class="form-control has-feedback-left @(isPasswordValid ? String.Empty : "parsley-error")" placeholder="Password">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                <ul class="parsley-errors-list filled" id="parsley-id-5">
                                    <li class="parsley-required">
                                        @(isPasswordValid ? String.Empty : ViewData.ModelState["Password"].Errors.First().ErrorMessage)
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-3">
                                <a href="##" onClick="history.go(-1); return false;" class="btn btn-primary" type="button">Cancel</a>
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>