@using BrainNotFound.Paper.Services;
@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;

@{
    ViewData["Title"] = "Edit Instructor - Admin";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-user"></i> Edit Instructor</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form asp-controller="Admin" asp-action="EditInstructor" class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Salutation</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select asp-for="Salutation" class="select2_single form-control" tabindex="1">

                                    @foreach (string salutation in SalutationType.All)
                                    {
                                        @if (salutation == ViewBag.instructor.Salutation)
                                        {
                                            <option selected value="@salutation">@salutation.</option>
                                        }
                                        else
                                        {
                                            <option value="@salutation">@salutation.</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dept-code">
                                UserName <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input value="@ViewBag.instructor.UserName" asp-for="UserName" type="text" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dept-code">
                                First Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input value="@ViewBag.instructor.FirstName" asp-for="FirstName" type="text" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dept-code">
                                Last Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input value="@ViewBag.instructor.LastName" asp-for="LastName" type="text" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Salutation</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select asp-for="Salutation" class="select2_single form-control" tabindex="-1">
                                    <option>@ViewBag.instructor.Salutation</option>
                                    <option value="mr">Mr.</option>
                                    <option value="mrs">Mrs.</option>
                                    <option value="ms">Ms.</option>
                                    <option value="miss">Miss</option>
                                    <option value="dr">Dr.</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dept-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input value="@ViewBag.instructor.Email" asp-for="Email" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Phone Number</label>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <input value="@ViewBag.instructor.PhoneNumber" asp-for="PhoneNumber" type="text" class="form-control" data-inputmask="'mask' : '(999) 999-9999'">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-primary" type="button">Cancel</button>
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>