@using BrainNotFound.Paper.Models.BusinessModels;
@model List<ApplicationUser>;

@{
    ViewData["Title"] = "Manage Instructors - Admin";
}

<!--Error message for deleting a department-->
@if (ViewBag.message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.message");
        };
    </script>
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-users"></i> Instructors</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a asp-controller="Admin" asp-action="NewInstructor"><i class="fa fa-plus"></i> New Instructor</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="table-responsive">
                    <table id="instructorTable" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">First Name </th>
                                <th class="column-title">Last Name </th>
                                <th class="column-title">Phone Number </th>
                                <th class="column-title">Email </th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Actions</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) </a>
                                    <a class="antoo" style="font-weight:500;" href="#"> &nbsp;&nbsp; Remove</a>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (ApplicationUser instructor in Model)
                            {
                                <tr class="odd pointer">
                                    <td class=" ">@instructor.FirstName</td>
                                    <td class=" ">@instructor.LastName</td>
                                    <td class=" ">@instructor.PhoneNumber</td>
                                    <td class=" ">@instructor.Email</td>
                                    <td>

                                        <form asp-action="DeleteInstructor" asp-controller="Admin">
                                            <a asp-controller="Admin" asp-action="ViewInstructor" asp-route-UserName="@instructor.UserName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                            <a asp-controller="Admin" asp-action="EditInstructor" asp-route-UserName="@instructor.UserName" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <input type="hidden" name="UserName" value="@instructor.UserName" />
                                            <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </button>
                                        </form>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#instructorTable').DataTable({
                "order": [1, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [0, 5] }
                ]
            });
        });
    </script>
}

