
@model BrainNotFound.Paper.Models.BusinessModels.Section;

@{
    ViewData["Title"] = "Add Section Info - Admin";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> New Section</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form asp-action="NewSection" asp-controller="Admin" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                        <!--Section information (Ex: HI 101 - 1) -->
                        <h3 class="form-group">
                            <label class="control-label pull-left col-md-3 col-sm-3 col-xs-12">@ViewBag.department.DepartmentCode @ViewBag.course.CourseCode - #</label>
                        </h3>

                        <!--Location-->
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Location </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="Location" type="text" id="department-name" class="form-control col-md-7 col-xs-12">
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <!--Days meet-->
                        <div class="form-group">
                                <label class="control-label pull-left col-md-3 col-sm-3 col-xs-12">Days Meet</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="checkbox" name="DaysMet[]" value="Monday" class="flat" /> Monday
                                    <input type="checkbox" name="DaysMet[]" value="Tuesday" class="flat" /> Tuesday
                                    <input type="checkbox" name="DaysMet[]" value="Wednesday" class="flat" /> Wednesday
                                    <input type="checkbox" name="DaysMet[]" value="Thursday" class="flat" /> Thursday
                                    <input type="checkbox" name="DaysMet[]" value="Friday" class="flat" /> Friday

                                </div>
                        </div>

                        <!--Start time-->
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Start Time </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="time" id="department-name" class="form-control col-md-7 col-xs-12">
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <!--End Time-->
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> End Time </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="time" id="department-name" class="form-control col-md-7 col-xs-12">
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <!--Capacity-->
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Capacity</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="Capacity" type="number" min="1" max="50" class="form-control col-md-7 col-xs-12">
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <!--Assign Instructor-->
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Capacity</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="select2_single form-control" tabindex="1">
                                    <option disabled selected value=""> -- Assign a teacher -- </option>
                                    @foreach (var i in ViewBag.instructorList)
                                    {
                                        <option value="@i.UserName">@i.FirstName @i.LastName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button onclick="history.go(-1)" class="btn btn-primary" type="button">Cancel</button>
                                <button type="submit" class="btn btn-success">Add Section</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>