@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;
@using BrainNotFound.Paper.Services;
@{
    ViewData["Title"] = "Profile - Admin";
}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-user"></i> Administrator Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <button type="button" id="EditAdmin" value="@ViewBag.profile.UserName" data-toggle="modal" data-target="#EditAdminModal">Edit information</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-2 col-sm-2 col-xs-12 profile_left">
                        <div class="profile_img">
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <img class="img-responsive avatar-view" src="@ViewBag.profile.ImageURL" alt="Avatar"
                                     title="Change the avatar">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h3> @ViewBag.profile.FirstName @ViewBag.profile.LastName</h3>

                        <ul class="list-unstyled user_data">
                            <li>
                                <a><i class="fa fa-map-marker user-profile-icon"></i> &nbsp;&nbsp;@ViewBag.profile.Address @ViewBag.profile.City @ViewBag.profile.State @ViewBag.profile.ZipCode</a>
                            </li>
                            <li>
                                <a><i class="fa fa-envelope user-profile-icon"></i>&nbsp; @ViewBag.profile.Email</a>
                            </li>
                            <li>
                                <a><i class="fa fa-user user-profile-icon"></i>&nbsp;&nbsp; @ViewBag.profile.UserName</a>
                            <li>
                                <a><i class="fa fa-phone user-profile-icon"></i>&nbsp;&nbsp; @(ViewBag.profile.PhoneNumber == null ? " " : PhoneNumber.CalculatePhoneNumber(ViewBag.profile.PhoneNumber))</a>
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal for editing an admin-->
<div id="EditAdminModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="EditAdminPlaceholder">
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <!--Administrator functions-->
    <script type="text/javascript" src="~/js/Administrator.js"></script>
}