@using BrainNotFound.Paper.Models.BusinessModels;
@model List<ApplicationUser>;
@{
    ViewData["Title"] = "Manage Students - Admin";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-users"></i> Student</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li><a asp-controller="Admin" asp-action="NewStudent"><i class="fa fa-plus"></i> New Student</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>Click to select all Students</p>
                <div class="table-responsive">
                    <table id="studentTable" class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title">Salutation </th>
                                <th class="column-title">First Name </th>
                                <th class="column-title">Last Name </th>
                                <th class="column-title">Phone Number </th>
                                <th class="column-title">Email </th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Actions</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) </a>
                                    <a class="antoo" style="font-weight:500;" href="#"> &nbsp;&nbsp; Remove</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ApplicationUser student in Model)
                            {
                                <tr class="odd pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>
                                    <td class=" ">@student.Salutation</td>
                                    <td class=" ">@student.FirstName</td>
                                    <td class=" ">@student.LastName</td>
                                    <td class=" ">@student.PhoneNumber</td>
                                    <td class=" ">@student.Email</td>
                                    <td>
                                        <a asp-controller="Admin" asp-action="ViewStudent" asp-route-UserName="@student.UserName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                        <a asp-controller="Admin" asp-action="EditStudent" asp-route-UserName="@student.UserName" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                        <a asp-controller="Admin" asp-action="DeleteStudent" asp-route-UserName="@student.UserName" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#studentTable').DataTable({
                "order": [1, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [0, 3] }
                ]
            });
        });
    </script>

}