@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;
@{
    ViewData["Title"] = "View Student - Admin";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-user"></i> Student Information</h2>
                    <ul class="nav navbar-right panel_toolbox">

                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Edit information</a>
                                </li>
                                <li>
                                    <a href="#">Change password</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-2 col-sm-2 col-xs-12 profile_left">
                        <div class="profile_img">
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar"
                                     title="Change the avatar">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h3>@ViewBag.profile.FirstName @ViewBag.profile.LastName</h3>

                        <ul class="list-unstyled user_data">
                            <li>
                                <i class="fa fa-map-marker user-profile-icon"></i> @ViewBag.profile.Address @ViewBag.profile.City @ViewBag.profile.State @ViewBag.profile.ZipCode
                            </li>

                            <li>
                                <i class="fa fa-at user-profile-icon">@ViewBag.profile.Email</i>
                            </li>

                            <li>
                                <i class="fa fa-user user-profile-icon">@ViewBag.profile.UserName</i>

                            <li>
                                <i class="fa fa-phone user-profile-icon">@ViewBag.profile.PhoneNumber</i>
                            </li>

                        </ul>
                        <br />

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> Courses</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                                <th># of Sctions</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in ViewBag.courses)
                            {
                                <tr>
                                    <td>@course.CourseCode</td>
                                    <td>@course.CourseName</td>
                                    <td>3</td>
                                    <td> <a href="#" class="btn btn-primary btn-xs"> View </a> </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>