@using BrainNotFound.Paper.Models.BusinessModels
@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;
@{
    ViewData["Title"] = "View Section - Admin";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-pie-chart"></i> Section Information</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h3>@ViewBag.course.Department.DepartmentCode @ViewBag.course.CourseCode - @ViewBag.section.SectionNumber@ViewBag.course.Name </h3>
                        <ul class="list-unstyled user_data">
                            <li>
                                <b>Capacity</b> @ViewBag.section.Capacity
                            </li>
                            <li>
                                <b> Location:</b> @ViewBag.section.Location
                            </li>
                            <li>
                                @{
                                    // Find the meeting times for the section
                                    List<String> days = new List<string>();
                                    List<SectionMeetingTime> sectionMeetingTimes = ViewBag.sectionMeetingTimeList;
                                    DateTime startTime = new DateTime();
                                    DateTime endTime = new DateTime();
                                    var sectionMeetingTime = sectionMeetingTimes.Where(smt => smt.SectionId == ViewBag.section.SectionId).ToList();
                                    foreach (SectionMeetingTime smt in sectionMeetingTime)
                                    {
                                        days.Add(smt.Day);
                                        startTime = smt.StartTime;
                                        endTime = smt.EndTime;
                                    }
                                    String day = string.Join(", ", days);
                                }
                                <b>Days Meeting: </b> @day
                            </li>
                            <li>
                                <b>Start Time: </b> @startTime.ToString("h:mm tt")
                            </li>
                            <li>
                                <b>End Time:</b> @endTime.ToString("h:mm tt")
                            </li>
                            <li>
                                @{
                                    ApplicationUser instructor = new ApplicationUser();
                                    foreach (var i in ViewBag.instructorList)
                                    {
                                        if (i.Id == ViewBag.section.InstructorId)
                                        {
                                            instructor = (ApplicationUser)i;
                                        }
                                    }
                                }
                                <b>Instructor: </b>@instructor.FirstName @instructor.LastName
                            </li>
                        </ul>
                        <br />
                        <h2> Reassign Instructor</h2>
                        <form asp-controller="Admin" asp-action="ReassignInstructor">
                            <select asp-for="UserName" class="select2_single form-control" tabindex="1">
                                <option disabled selected value=""> -- Assign a teacher -- </option>
                                @foreach (var i in ViewBag.instructorList)
                                {
                                    <option value="@i.UserName">@i.FirstName @i.LastName</option>
                                }
                            </select>

                            <button type="submit">Reassign</button>
                            <input type="hidden" name="SectionId" value="@ViewBag.section.SectionId" />
                            <input type="hidden" name="SectionNumber" value="@ViewBag.section.SectionNumber" />
                            <input type="hidden" name="CourseCode" value="@ViewBag.course.CourseCode" />
                            <input type="hidden" name="CourseId" value="@ViewBag.section.CourseId" />
                            <input type="hidden" name="DepartmentCode" value="@ViewBag.department.DepartmentCode" />
                        </form>
                        <br />
                    </div>
                </div>
            </div>
            <div class="x_panel">
                <!--Students who are in this section-->
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Students enrolled</h2>
                    @if (ViewBag.Message != String.Empty)
                    { <br />
                        <div>
                            &nbsp;&nbsp; <span><i class="fa fa-warning"></i> @ViewBag.Message</span>
                        </div>
                    }

                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Click checkbox to select multiple Students.</p>
                    <div class="table-responsive">
                        <table id="studentsEnrolledTable" class="table table-striped jambo_table bulk_action ">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">First Name </th>
                                    <th class="column-title">Last name </th>
                                    <th class="column-title">Classification </th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ApplicationUser e in ViewBag.enrollment)
                                {
                                    <tr class="odd pointer">
                                        <td class=" ">@e.FirstName </td>
                                        <td class=" ">@e.LastName </td>
                                        <td class=" ">@e.Classification </td>
                                        <td class=" last">
                                            <form asp-controller="Admin" asp-action="UnassignStudent">
                                                <a asp-controller="Admin" asp-action="ViewStudent" asp-route-UserName="@e.UserName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                                <a asp-controller="Admin" asp-action="EditStudent" asp-route-UserName="@e.UserName" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <button type="submit" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Unassign </button>
                                                <input type="hidden" name="UserName" value="@e.UserName" />
                                                <input type="hidden" name="SectionId" value="@ViewBag.section.SectionId" />
                                                <input type="hidden" name="SectionNumber" value="@ViewBag.section.SectionNumber" />
                                                <input type="hidden" name="CourseCode" value="@ViewBag.course.CourseCode" />
                                                <input type="hidden" name="CourseId" value="@ViewBag.section.CourseId" />
                                                <input type="hidden" name="DepartmentCode" value="@ViewBag.department.DepartmentCode" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--Students who are NOT in this section-->
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Students not enrolled</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>Click checkbox to select multiple Students.</p>
                    <div class="table-responsive">
                        <table id="studentsNotEnrolledTable" class="table table-striped jambo_table bulk_action ">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">First Name </th>
                                    <th class="column-title">Last name </th>
                                    <th class="column-title">Classification </th>
                                    <th class="column-title no-link last"> <span class="nobr">Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ApplicationUser s in ViewBag.StudentsNotEnrolled)
                                {
                                    <tr class="odd pointer">
                                        <td class=" ">@s.FirstName </td>
                                        <td class=" ">@s.LastName </td>
                                        <td class=" ">@s.Classification </td>
                                        <td class=" last">
                                            <form asp-controller="Admin" asp-action="AssignStudent">
                                                <a asp-controller="Admin" asp-action="ViewStudent" asp-route-UserName="@s.UserName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                                <a asp-controller="Admin" asp-action="EditStudent" asp-route-UserName="@s.UserName" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <input type="hidden" name="UserName" value="@s.UserName" />
                                                <input type="hidden" name="SectionNumber" value="@ViewBag.section.SectionNumber" />
                                                <input type="hidden" name="SectionId" value="@ViewBag.section.SectionId" />
                                                <input type="hidden" name="CourseCode" value="@ViewBag.course.CourseCode" />
                                                <input type="hidden" name="CourseId" value="@ViewBag.section.CourseId" />
                                                <input type="hidden" name="DepartmentCode" value="@ViewBag.department.DepartmentCode" />
                                                <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Assign </button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <!--Datatable script for the students enrolled table-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $("#studentsEnrolledTable").DataTable({
                "order": [1, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [3] }
                ],
            });
        });
    </script>

    <!--Datatable script for the students not enrolled-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $("#studentsNotEnrolledTable").DataTable({
                "order": [1, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [3] }
                ],
            });
        });
    </script>
}