@using BrainNotFound.Paper.Models.BusinessModels
@model BrainNotFound.Paper.Models.BusinessModels.Course;
@{
    ViewData["Title"] = "View Instructor - Admin";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> Course Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <button id="EditCourse" value="@ViewBag.course.CourseId" class="btn btn-default btn-xs"> Edit information</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        @{
                            String name;
                            name = ViewBag.department.DepartmentCode + " " + ViewBag.course.CourseCode;
                        }
                        <h3>@name @ViewBag.course.Name</h3>

                        <ul class="list-unstyled user_data">
                            <li>
                                <b>Credit Hours:</b> @ViewBag.course.CreditHours
                            </li>
                            <li>
                                <b> Description:</b> @ViewBag.course.Description
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-pie-chart"></i> Sections</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li><a asp-controller="Admin" asp-action="NewSection" asp-route-code="@ViewBag.department.DepartmentCode@ViewBag.course.CourseCode"><i class="fa fa-plus"></i> New Section</a></li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Section Number</th>
                                <th>Instructor</th>
                                <th>Location</th>
                                <th>Capcity</th>
                                <th>Day</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewBag.sectionsList.Count > 0)
                                {
                                    List<ApplicationUser> instructors = ViewBag.instructorList;
                                    List<SectionMeetingTime> sectionMeetingTimes = ViewBag.sectionMeetingTimeList;
                                    foreach (var s in ViewBag.sectionsList)
                                    {
                                        // Find the instructor name for each section
                                        String instructorName;

                                        var instructor = instructors.Where(i => i.Id == s.InstructorId).First();
                                        instructorName = instructor.FirstName + " " + instructor.LastName;

                                        // Find the meeting times for each section
                                        List<String> days = new List<string>();
                                        var sectionMeetingTime = sectionMeetingTimes.Where(smt => smt.SectionId == s.SectionId).ToList();
                                        foreach (SectionMeetingTime smt in sectionMeetingTime)
                                        {
                                            days.Add(smt.Day);
                                        }
                                        String day = string.Join(", ", days);

                                        <tr>
                                            <td>@s.SectionNumber</td>
                                            <td>@instructorName</td>
                                            <td>@s.Location</td>
                                            <td>@s.Capacity</td>
                                            <td>@day</td>
                                            <td>
                                                <a asp-controller="Admin" asp-action="ViewSection" asp-route-code="@ViewBag.department.DepartmentCode@ViewBag.course.CourseCode" asp-route-sectionNumber="@s.SectionNumber" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                                <a asp-controller="Admin" asp-action="ViewSection" asp-route-code="@ViewBag.department.DepartmentCode@ViewBag.course.CourseCode" asp-route-sectionNumber="@s.SectionNumber" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td>There are no Sections to be displayed</td></tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit Course Modal-->
<div id="EditCourseModal" class="modal fade post-using-ajax" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="EditCourseForm" data-parsley-validate class="form-horizontal form-label-left">
                <input asp-for="CourseId" type="hidden" value="" id="courseId" />
                <div class="modal-header">
                    <h3 class="modal-title"><i class="fa fa-mortar-board"></i> Edit Course</h3>
                </div>
                <div class="modal-body">
                    <!--CourseCode field-->
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Course Code </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="CourseCode" type="text" id="codeInput" class="form-control col-md-7 col-xs-12">
                            <span id="EditCourseCodeErrorMessage" class="text-danger"></span>
                        </div>
                    </div>
                    <!--CourseName field-->
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Course Name </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Name" type="text" id="nameInput" class="form-control col-md-7 col-xs-12">
                            <span id="EditCourseNameErrorMessage" class="text-danger"></span>
                        </div>
                    </div>
                    <!--CourseDescription field-->
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Course Description </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea name="description" id="descriptionInput" class="form-control col-md-7 col-xs-12" style="overflow:auto">
                                </textarea>
                            <span id="EditCourseDescriptionErrorMessage" class="text-danger"></span>
                        </div>
                    </div>
                    <!--CreditHours field-->
                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Credit Hours </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="CreditHours" type="number" min="1" max="8" value="0" id="creditHourInput" class="form-control col-md-7 col-xs-12">
                            <span id="EditCourseCreditHoursErrorMessage" class="text-danger"></span>
                        </div>
                    </div>
                    <!--Department List field-->
                    <div class="form-group">
                        <label class="control-label pull-left col-md-3 col-sm-3 col-xs-12">Department</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="departmentInput" asp-for="DepartmentId" class="select2_single form-control" tabindex="1">
                                <option disabled selected value=""> -- select a department -- </option>
                                @foreach (var d in ViewBag.departmentList)
                                {
                                    <option value="@d.DepartmentId">@d.DepartmentName</option>
                                }
                            </select>
                            <span id="EditCourseDepartmentErrorMessage" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--Submit or cancel field-->
                <div class="modal-footer">
                    <button type="button" id="CancelCreateCourse" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="SaveCourseChanges" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <!--Course functions-->
    <script type="text/javascript" src="~/js/Course.js"></script>
}