@using BrainNotFound.Paper.Models.BusinessModels
@model Test;
@{
    Test test = ViewBag.Test;
    List<Section> sections = ViewBag.Sections;

    ViewData["Title"] = "Edit " + test.TestName + " - Instructor";
}

<div class="row" id="TestInformationSection">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text-o"></i> @(ViewBag.Course.DepartmentCode + ViewBag.Course.CourseCode) - @(" " + test.TestName)</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="EditTestName">Edit name</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- START: Edit test name section-->
                <input type="hidden" id="TestId" value="@test.TestId" />
                <div id="EditNameContainer" class="well hidden">
                    <form asp-action="PartialEditNameAndCourse" asp-controller="Instructor" asp-route-TestId="" id="new-department" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="col-md-9 col-xs-12">
                            <label for="TestName" class="control-label">Edit Test Name</label>
                            <input type="text" asp-for="TestName" placeholder="Enter test name" class="form-control" value="@test.TestName">
                            <input asp-for="TestId" type="hidden" value="@test.TestId" />
                            <input asp-for="CourseId" type="hidden" value="@test.CourseId" />
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label class="control-label">&emsp;</label>
                            <table>
                                <tr>
                                    <td><a id="cancelEditTestName" class="btn btn-danger">Cancel</a>
                                    <td> <button type="submit" class="btn btn-primary">Save</button></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
                <!-- END: Edit test name section-->
                <!-- START: Statistics -->
                <h3>General</h3>
                <hr />
                <div class="animated flipInY col-md-4 col-sm-12 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-dot-circle-o"></i>
                        </div>
                        <div id="TotalPointsStats" class="count"></div>
                        <h3>Total Points</h3>
                    </div>
                </div>
                <div class="animated flipInY  col-md-4 col-sm-12 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-question"></i>
                        </div>
                        <div id="TotalQuestionsStats" class="count"></div>
                        <h3>Questions</h3>
                    </div>
                </div>
                <div class="animated flipInY col-md-4 col-sm-12 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </div>
                        <div id="TotalSectionsStats" class="count"></div>
                        <h3>Sections</h3>
                    </div>
                </div>
                <div class="clearfix"></div>

                <!-- END: Statistics -->
                <!-- START: Schedule -->
                <h3>Schedule</h3>
                <hr />

                <div id="NoScheduledTestContainer" class="text-center">
                    <p>This test has not been scheduled yet.</p>
                    <hr />
                </div>
                <table id="TestAssignmentTable" class="table table-striped hidden">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Availability</th>
                            <th>Time Limit</th>
                            <th>Students Assigned</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <!-- END: Schedule -->
                <!-- START: New Test Schedule -->
                <div id="NewScheduleContainer" class="well hidden">
                    <h4><i class="fa fa-calendar"></i> New Schedule</h4>
                    <hr />

                    <div class="col-md-8 col-sm-12">
                        Test Availability
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                        <input type="text" name="testScheduleDateTime" id="testScheduleDateTime" class="form-control" value="01/01/2016 - 01/25/2016">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-md-2 col-sm-8 col-xs-12">
                        Time Limit (Minutes)
                        <input type="number" id="TimeLimit" class="form-control" name="TimeLimit" required="" value="50">

                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="checkbox">
                            &emsp;
                            <div class="control-group">
                                <label for="UnlimitedTimeCheckBox">
                                    <input type="checkbox" name="UnlimitedTimeCheckBox" id="UnlimitedTimeCheckBox" />  Unlimited
                                </label>
                            </div>
                        </div>


                    </div>
                    <div class="clearfix"></div>

                    <!-- Start: Student Test Assignmnet -->

                    <hr />
                    <!-- Start: Left -->
                    <div class=" col-md-8 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4><i class="fa fa-users"></i> Assign</h4>
                            </div>
                            <div class="x_content">
                                Select a section:
                                <select id="SelectSection" class="form-control" required="">
                                    <option selected disabled="disabled">-- Choose a Section --</option>
                                    @foreach (Section classSection in sections)
                                    {
                                        <option value="@classSection.SectionId">Section @classSection.SectionNumber</option>
                                    }
                                </select>
                                <br />
                                <div class="clearfix"></div>
                                <button id="AssignEntireSection" type="button" class="btn btn-sm btn-primary alignright"><i class="fa fa-pie-chart"></i> Entire Section</button>
                                <div class="clearfix"></div>
                                <hr />

                                <div id="SectionNotSelectedContainer">
                                    <div class="text-center"><p>Please select a section</p></div>
                                </div>

                                <div id="StudentsInSectionTableContainer" class="hidden">
                                    <table id="StudentsInSectionTable" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <hr />

                                <button Id="AssignSelectedStudents" type="button" class="btn btn-sm btn-primary alignright"><i class="fa fa-users"></i> Selected Students</button>
                                <div class="clearfix"></div>
                            </div>

                        </div>


                    </div>

                    <!-- Start: Right -->
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div id="AssignedTablePlaceHolder">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h4><i class="fa fa-users"></i> Assigned</h4>
                                </div>
                                <div class="x_content">
                                    <i class="fa fa-pie-chart"></i> Sections

                                    &emsp;
                                    <p id="NoSectionsAssignedTest" class="">There are no entire section assigned.</p>

                                    <!--Sections assigned table-->
                                    <table id="SectionsAssignedTest" class="table table-striped hidden">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Section</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                    <hr />
                                    <i class="fa fa-user"></i>  Individual Students

                                    <p id="NoStudentsAssignedTest">There are no indivisual students assigned.</p>
                                    <table id="StudentsAssignedTest" class="table table-striped hidden">
                                        <thead>
                                            <tr>
                                                <th>Section</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <!-- End: Student Test Assignmnet-->

                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <table class="alignright">
                        <tr>
                            <td><a id="CancelNewSchedule" class="btn btn-danger">Cancel</a>
                            <td><button id="SaveNewTestSchedule" type="button" class="btn btn-primary">Save New Schedule</button></td>
                        </tr>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <!-- END: New Test Schedule -->
                <div class="text-right">
                    <a id="NewSchedule" class="btn btn-round btn-info">New Schedule</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TestSections">

</div>

<div id="AddTestSection">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="clearfix"></div>
            <div class="text-center">
                <button type="button" id="AddTestSectionBtn" class="btn btn-lg btn-round btn-primary"><i class="fa fa-plus"></i> &nbsp;Add Section</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm deletion Modal -->
<div id="confirm-deletion-modal" class="modal fade confirm-delition-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><i class="fa fa-mortar-board"></i>Confirm Delete</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" id="cancelDelete" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="confirmDeletion" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script type="text/javascript" src="~/vendors/handlebars/handlebars-v4.1.1.js"></script>
    <script type="text/javascript" src="~/js/EditTest.js"></script>
}

<!-- Template Snippets -->
@section TemplateSnippets
    {

    <!-- Row template for assigned sections to test -->
    <script type="text/x-handlebars-template" id="SectionAssigmentTableRowTemplate">
        <tr>
            <td>{{RowNumber}}</td>
            <td>{{SectionNumbers}}</td>
            <td>
                <button value="{{SectionId}}" class="btn btn-danger btn-xs deleteEntireSectionAssignment"><i class="fa fa-trash-o"></i> Remove </button>
            </td>
        </tr>
    </script>


    <script type="text/x-handlebars-template" id="StudentAssignmnetRowTemplate">
        <tr>
            <td>{{SectionNumber}}</td>
            <td>{{FirstName}}</td>
            <td>{{LastName}}</td>
            <td>  <button value="{{StudentId}}" class="btn btn-danger btn-xs deleteStudentAssigment"><i class="fa fa-trash-o"></i> Remove </button></td>
        </tr>
    </script>

    <!-- Row template from schedule table -->
    <script type="text/x-handlebars-template" id="ScheduleTableRowTemplate">
        <tr>
            <th scope="row">{{counter}}</th>
            <td>
                <p><i class="fa fa-calendar"></i> {{Availability}}</p>
            </td>
            <td>{{TimeLimit}}</td>
            <td>{{Assigmnet}}</td>
            <td>
                <button asp-controller="Instructor" asp-action="EditTest" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </button>
                <input type="hidden" name="CourseId" value="d" />
                <button type="button" data-testScheduleId="{{TestScheduleId}}" class="btn btn-danger btn-xs DeleteSectionSchedule"><i class="fa fa-trash-o"></i> Delete </button>
            </td>
        </tr>
    </script>

    <!--Section Type Start-->
    <script type="text/x-handlebars-template" id="GenericTestSectionTemplate">
        <div class="row SectionContainer">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="genericSection" class="x_panel">
                    <!-- top of section header -->
                    <div class="x_title">
                        <h2 id="Titlefff"><i class="fa fa-question"></i> New test section</h2>
                        <div class="clearfix"></div>
                    </div>
                    <!-- end of section header -->
                    <div class="x_content">
                        <div class="row">
                            <div class="form-horizontal form-label-left">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Question Type</label>
                                <div class="col-md-4 col-sm-4 col-xs-12 ">
                                    <select id="questionType" class="form-control col-md-4 col-sm-4 col-xs-12">
                                        <option value="null" selected disabled="disabled">-- Choose option --</option>
                                        <option value="TrueFalse">True/False</option>
                                        <option value="MultipleChoice">Multiple Choice</option>
                                        <option value="FillInTheBlank">Fill In The Blank</option>
                                        <option value="Matching">Matching</option>
                                        <option value="Essay">Essay</option>
                                    </select>
                                </div>
                                <button id="setQuestionType" type="button" class="btn btn-primary">Set Question Type</button>
                                <button id="cancelQuestionType" class="btn btn-danger">Cancel</button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!--Test Section Template Start-->
    <script type="text/x-handlebars-template" id="TestSectionTemplate">
        <!--Test Section Start-->
        <div class="row sectionContainer-{{sectionId}}">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-info-circle"></i> {{header}}</h2>

                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class="deleteSection" data-testSectionId="{{sectionId}}"><i class="fa fa-trash-o"></i></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="editInstructions" data-sectionId="{{sectionId}}">Edit Instructions</a></li>
                                    <li><a class="editQuestionValues" value="{{sectionId}}">Edit Questions Value</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-arrow-up"></i></a></li>
                            <li><a><i class="fa fa-arrow-down"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <p><b>Instructions: </b><span id="currentInstructions-{{sectionId}}">{{instructions}}</span></p>
                            </div>
                        </div>
                        <!--Edit Instructions Start-->
                        <div class="row well hidden" id="editInstructionsContainer-{{sectionId}}">
                            <input class="originalInstructions" type="hidden" value="{{instructions}}" />
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <p><b>Instructions:</b></p>
                                </div>
                                <div class="form-group col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" placeholder="Enter section" id="editSectionInstruction-{{sectionId}}" class="form-control editSectionInstructions-{{sectionId}}">
                                </div>
                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                </div>
                                <div class="form-group col-md-3 col-sm-3 col-xs-12">
                                    <button type="button" class="pull-right btn btn-primary btn-md saveEditedSectionInstruction" data-sectionId="{{sectionId}}">Save</button>
                                    <button type="button" class="pull-right btn btn-danger btn-md cancelEditSectionInstruction" data-sectionId="{{sectionId}}">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <!--Edit Instructions End-->
                        <!--Edit Questions Value Start-->
                        <div id="EditQuestionsValue" class="well hidden">
                            <form asp-action="PartialEditNameAndCourse" asp-controller="Instructor" asp-route-TestId="" id="new-department" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="col-md-9 col-xs-12">
                                    <label class="control-label">Edit Questions Value</label>
                                    <input type="text" placeholder="pt(s)" class="form-control col-md-3">
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <label class="control-label">&emsp;</label>
                                    <table>
                                        <tr>
                                            <td><a onclick="Cancel('#EditQuestionsValue')" class="pull-right btn btn-danger btn-md">Cancel</a>
                                            <td> <button type="submit" class="pull-right btn btn-primary btn-md">Assign</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                        </div>
                        <!--Edit Questions Value End-->
                        <!--Question Start-->
                        <div id="questionsContainer-{{sectionId}}">

                        </div>
                        <!--Question End-->
                        <!--Edit Question Start-->
                        <div id="newQuestionContainer-{{sectionId}}"></div>
                        <!--Edit Question End-->
                        <hr />
                        <div class="text-right">
                            <button type="button" class="btn btn-round btn-info addQuestionToSection" data-sectionId="{{sectionId}}" data-sectionType="{{sectionType}}"><i class="fa fa-plus"></i> &nbsp;Add Question</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Test Section End-->
    </script>
    <!--Section Type End-->
    <!-- New TrueFalse Question Template-->
    <script type="text/x-handlebars-template" id="NewTrueFalseQuestionTemplate">
        <div class="newQuestionContainer">
            <!--Edit True/False Question Start-->
            <div class="ln_solid"></div>
            <div class="row well">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-1 col-sm-1 col-xs-3">
                        <p>Points:</p>
                        <input type="number" placeholder="pts" min="1" class="form-group form-control" id="TrueFalsePointValue-{{timeStamp}}" value="1">
                    </div>
                    <div class="form-group col-md-5 col-sm-5 col-xs-12">
                        <p>Question: </p>
                        <input type="text" placeholder="Enter question text here" class="form-control " id="TrueFalseContent-{{timeStamp}}" />
                        <span class="text-danger hidden" id="TFContentError-{{timeStamp}}">Please enter a question</span>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-12">
                        <p>&nbsp;</p>
                        <input type="radio" class="flat" checked="" name="TrueFalseRadioButton-{{timeStamp}}" value="true" style="position: absolute; opacity: 0;"> True
                        <input type="radio" class="flat" name="TrueFalseRadioButton-{{timeStamp}}" value="false" style="position: absolute; opacity: 0;"> False
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-12">
                        <p>&nbsp;</p>
                        <button type="button" class="pull-right btn btn-primary btn-md saveNewTrueFalseQuestion" data-sectionId="{{SectionId}}" data-uuid="{{timeStamp}}">Create</button>
                        <button type="button" class="pull-right btn btn-danger btn-md cancelNewQuestion">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit True/False Question End-->
    </script>


    <!-- Edit TrueFalse Question Template-->
    <!-- Parameters: questionId, pointValue, content, answer-->
    <!--Edit True/False Question Start-->
    <script type="text/x-handlebars-template" id="EditTrueFalseQuestionTemplate">
        <div class="editQuestionContainer">
            <!--Edit True/False Question Start-->
            <div class="ln_solid"></div>
            <div class="row well">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-1 col-sm-1 col-xs-3">
                        <p>Points:</p>
                        <input type="number" placeholder="pts" min="1" class="form-group form-control" id="pointValue-{{questionId}}" value="{{pointValue}}">
                    </div>
                    <div class="form-group col-md-5 col-sm-5 col-xs-12">
                        <p>Question: </p>
                        <input type="text" placeholder="Enter question text" class="form-control" id="TrueFalseContent-{{questionId}}" value="{{content}}" />
                        <span class="text-danger hidden" id="TFContentError-{{questionId}}">Please enter a question</span>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-12">
                        <p>&nbsp;</p>

                        {{#if answer}}
                        <input type="radio" class="flat" checked="" name="TrueFalseRadioButton-{{questionId}}" value="true" style="position: absolute; opacity: 0;"> True
                        <input type="radio" class="flat" name="TrueFalseRadioButton-{{questionId}}" value="false" style="position: absolute; opacity: 0;"> False
                        {{else}}
                        <input type="radio" class="flat" name="TrueFalseRadioButton-{{questionId}}" value="true" style="position: absolute; opacity: 0;"> True
                        <input type="radio" class="flat" checked="" name="TrueFalseRadioButton-{{questionId}}" value="false" style="position: absolute; opacity: 0;"> False
                        {{/if}}

                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-12">
                        <p>&nbsp;</p>
                        <button type="button" class="pull-right btn btn-primary btn-md saveEdittedTrueFalseQuestion" data-questionId="{{questionId}}">Update</button>
                        <button type="button" class="pull-right btn btn-danger btn-md cancelEditQuestion" data-questionId="{{questionId}}">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit True/False Question End-->
    </script>
    <!--Edit True/False Question End-->
    <!--True False Question Start-->
    <script type="text/x-handlebars-template" id="TrueFalseQuestionTemplate">
        <div id="questionContainer-{{questionId}}">
            <!--True False Question Start-->
            <div class="ln_solid"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-1 col-sm-1 col-xs-3">
                        <input type="number" id="pointValue-{{questionId}}" data-questionId="{{questionId}}" value="{{pointValue}}" min="1" class="form-group form-control pointValue">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-11">
                        <p id="content-{{questionId}}">{{content}}</p>
                    </div>
                    <div class="form-group col-md-3 col-sm-3 col-xs-12">
                        {{#if answer}}
                        <span id="TrueFalseAnswer-{{questionId}}" data-answer="true" style="color:white" class="label label-success">True</span>
                        {{else}}
                        <span id="TrueFalseAnswer-{{questionId}}" data-answer="false" style="color:white" class="label label-danger">False</span>
                        {{/if}}

                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="deleteQuestion" data-questionId="{{questionId}}"><i class="fa fa-trash-o"></i></a></li>
                            <li><a class="editTrueFalseQuestion" data-questionId="{{questionId}}"><i class="fa fa-edit"></i></a></li>
                            <li><a class=""><i class="fa fa-chevron-up"></i></a></li>
                            <li><a class=""><i class="fa fa-chevron-down"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--True False Question End-->
    </script>
}
<!--True False Question End-->
<!--Multiple Choice Question Start-->
<script type="text/x-handlebars-template" id="MultipleChoiceQuestionTemplate">
    <div id="questionContainer-{{questionId}}" class="row">
        <div class="ln_solid"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-1 col-sm-1 col-xs-3">
                <input type="number" id="pointValue-{{questionId}}" data-questionId="{{questionId}}" value="{{pointValue}}" min="1" class="form-group form-control pointValue">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-11">
                <p id="content-{{questionId}}">{{content}}</p>
            </div>

            <div class="form-group col-md-2 col-sm-2 col-xs-12">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="deleteQuestion" data-questionId="{{questionId}}"><i class="fa fa-trash-o"></i></a></li>
                    <li><a class="editMultipleChoiceQuestion" data-questionId="{{questionId}}"><i class="fa fa-edit"></i></a></li>
                    <li><a class=""><i class="fa fa-chevron-up"></i></a></li>
                    <li><a class=""><i class="fa fa-chevron-down"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-12"></div>
        <div class="col-md-9 col-sm-9 col-xs-12 " id="multipleChoiceOptionsContainer-{{questionId}}"></div>

    </div>
</script>
<!--Multiple Choice Question End-->
<!--Multiple Choice Option Start -->
<script type="text/x-handlebars-template" id="MultipleChoiceOptionTemplate">
    {{#if isCorrect}}
    <div class="col-md-4 col-sm-6 col-xs-12 multipleChoiceOption ">
        <p class="bg-green-light" data-isCorrect="{{isCorrect}}">{{optionContent}}</p>
    </div>
    {{else}}
    <div class="col-md-4 col-sm-6 col-xs-12 multipleChoiceOption">
        <p class=" bg-red-light" data-isCorrect="{{isCorrect}}">{{optionContent}}</p>
    </div>
    {{/if}}
</script>


<script type="text/x-handlebars-template" id="MultipleChoiceOptionTemplat">
    {{#if isCorrect}}
    <p class="bg-green-light">{{optionContent}}</p>
    {{else}}
    <p class=" bg-red-light">{{optionContent}}</p>
    {{/if}}
</script>
<!--Multiple Choice Option End -->
<!--New Multiple Choice Question Start-->

<script type="text/x-handlebars-template" id="NewMultipleChoiceQuestionTemplate">
    <div class="newQuestionContainer well">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-1 col-sm-1 col-xs-3">
                    <p>Points:</p>
                    <input type="number" placeholder="pts" min="1" class="form-group form-control" id="MultipleChoicePointValue-{{timeStamp}}" value="1">
                </div>
                <div class="form-group col-md-11 col-sm-11 col-xs-12">
                    <p>Question: </p>
                    <input type="text" placeholder="Question text" class="form-control " id="MultipleChoiceContent-{{timeStamp}}" />
                    <span class="text-danger hidden" id="multipleChoiceContentError-{{timeStamp}}">Please enter a question</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-md-1 col-sm-1 col-xs-3">
                    <p>Is correct:</p>
                </div>
                <div class="col-md-11 col-sm-11 col-xs-12">
                    <p>Options: </p>
                </div>
            </div>

            <div id="MultipleChoiceOptionsContainer-{{timeStamp}}">
                <div class="col-md-12 col-sm-12 col-xs-12 newMultipleChoiceOption-{{timeStamp}}">
                    <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                        <input style="margin-top:12px" class="form-check-input isCorrect" type="checkbox">
                    </div>
                    <div class="form-group col-md-10 col-sm-10 col-xs-10">
                        <input type="text" placeholder="Option text" class="form-control optionContent">
                        <span class="text-danger hidden optionErrorMessage ">Option may not be empty</span>
                    </div>
                    <div class="form-group col-md-1 col-sm-1 col-xs-1">
                        <a style="margin-top:8px" data-uuid="{{timeStamp}}" class="pull-right deleteMultipleChoiceOptionNewQuestion"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 newMultipleChoiceOption-{{timeStamp}}">
                    <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                        <input style="margin-top:12px" class="form-check-input isCorrect" type="checkbox">
                    </div>
                    <div class="form-group col-md-10 col-sm-10 col-xs-10">
                        <input type="text" placeholder="Option text" class="form-control optionContent">
                        <span class="text-danger hidden optionErrorMessage ">Option may not be empty</span>
                    </div>
                    <div class="form-group col-md-1 col-sm-1 col-xs-1">
                        <a style="margin-top:8px" data-uuid="{{timeStamp}}" class="pull-right deleteMultipleChoiceOptionNewQuestion"><i class="fa fa-trash-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                    &nbsp;
                </div>
                <div class="form-group col-md-11 col-sm-11 col-xs-10">
                    <ul>
                        <li id="MinimumNumberOfOptionErrorMessage-{{timeStamp}}" class="text-danger hidden">There must be at least two options</li>
                        <li id="SelectedCorrectOptionErrorMessage-{{timeStamp}}" class="text-danger hidden">At least one options must be correct</li>
                    </ul>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <a style="margin-top:8px" class="pull-right addMultipleChoiceOptionNewQuestion" data-uuid="{{timeStamp}}"><i class="fa fa-plus"></i> Add Option</a>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3 col-sm-3 col-xs-12 alignright">
                <p>&nbsp;</p>
                <button type="button" class="pull-right btn btn-primary btn-md saveNewMultipleChoiceQuestion" data-sectionId="{{SectionId}}" data-uuid="{{timeStamp}}">Create</button>
                <button type="button" class="pull-right btn btn-danger btn-md cancelNewQuestion" data-questionId="{{timeStamp}}">Cancel</button>
            </div>
        </div>
    </div>
</script>


<!--Edit Multiple Choice Question Start-->


<script type="text/x-handlebars-template" id="EditMultipleChoiceQuestionTemplate">
    <div class="editQuestionContainer well">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-1 col-sm-1 col-xs-3">
                    <p>Points:</p>
                    <input type="number" placeholder="pts" min="1" class="form-group form-control" id="MultipleChoicePointValue-{{questionId}}" value="{{pointValue}}">
                </div>
                <div class="form-group col-md-11 col-sm-11 col-xs-12">
                    <p>Question: </p>
                    <input type="text" placeholder="Question text" class="form-control " id="MultipleChoiceContent-{{questionId}}" value="{{content}}" />
                    <span class="text-danger hidden" id="multipleChoiceContentError-{{questionId}}">Please enter a question</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-md-1 col-sm-1 col-xs-3">
                    <p>Is correct:</p>
                </div>
                <div class="col-md-11 col-sm-11 col-xs-12">
                    <p>Options: </p>
                </div>
            </div>

            <div id="EditMultipleChoiceOptionsContainer-{{questionId}}"></div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                    &nbsp;
                </div>
                <div class="form-group col-md-11 col-sm-11 col-xs-10">
                    <ul>
                        <li id="MinimumNumberOfOptionErrorMessage-{{questionId}}" class="text-danger hidden">There must be at least two options</li>
                        <li id="SelectedCorrectOptionErrorMessage-{{questionId}}" class="text-danger hidden">At least one options must be correct</li>
                    </ul>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <a style="margin-top:8px" class="pull-right addMultipleChoiceOptionEditQuestion" data-questionId="{{questionId}}"><i class="fa fa-plus"></i> Add Option</a>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3 col-sm-3 col-xs-12 alignright">
                <p>&nbsp;</p>
                <button type="button" class="pull-right btn btn-primary btn-md saveEdittedMultipleChoiceQuestion" data-questionId="{{questionId}}">Update</button>
                <button type="button" class="pull-right btn btn-danger btn-md cancelEditQuestion" data-questionId="{{questionId}}">Cancel</button>
            </div>
        </div>
    </div>
</script>

<!-- Multiple choice option Text Box Template -->
<script type="text/x-handlebars-template" id="MultipleChoiceOptionTextBoxTemplate">
    <div class="col-md-12 col-sm-12 col-xs-12 newMultipleChoiceOption-{{timeStamp}}">
        <div class="col-md-1 col-sm-1 col-xs-1 text-center">
            <input style="margin-top:12px" class="form-check-input isCorrect" type="checkbox">
        </div>
        <div class="form-group col-md-10 col-sm-10 col-xs-10">
            <input type="text" placeholder="Option text" class="form-control optionContent">
            <span class="text-danger hidden optionErrorMessage ">Option may not be empty</span>
        </div>
        <div class="form-group col-md-1 col-sm-1 col-xs-1">
            <a style="margin-top:8px" data-uuid="{{timeStamp}}" class="pull-right deleteMultipleChoiceOptionNewQuestion"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>
</script>
<!--Edit Multiple Choice Question End-->

<!-- Multiple choice option Text Box Template -->
<script type="text/x-handlebars-template" id="EditableMultipleChoiceOptionTextBoxTemplate">
    <div class="col-md-12 col-sm-12 col-xs-12 EditMultipleChoiceOption-{{questionId}}">
        <div class="col-md-1 col-sm-1 col-xs-1 text-center">
            {{#if isCorrect}}
            <input style="margin-top:12px" class="form-check-input isCorrect" checked="checked" type="checkbox">
            {{else}}
            <input style="margin-top:12px" class="form-check-input isCorrect" type="checkbox">
            {{/if}}
        </div>
        <div class="form-group col-md-10 col-sm-10 col-xs-10">
            <input type="text" placeholder="Option text" class="form-control optionContent" value="{{optionContent}}">
            <span class="text-danger hidden optionErrorMessage ">Option may not be empty</span>
        </div>
        <div class="form-group col-md-1 col-sm-1 col-xs-1">
            <a style="margin-top:8px" data-questionId="{{questionId}}" class="pull-right deleteMultipleChoiceOptionNewQuestion"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>
</script>
<!--Edit Multiple Choice Question End-->