@using BrainNotFound.Paper.Models.BusinessModels
@model Test;
@{
    Test test = ViewBag.Test;
    List<Section> sections = ViewBag.Sections;

    ViewData["Title"] = "Edit " + test.TestName + " - Instructor";
}

<!--Save Button
<div style="width: 100px; background-color: #808080; border-radius: 6px; z-index: 10; position: fixed; right: 0; bottom: 5px; height: 30px; padding:6px;">
    <a style="color:aliceblue" asp-controller="Instructor" asp-action="ViewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName"> Save & View</a>
</div>-->

<div class="row" id="TestInformationSection">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text-o"></i> @(ViewBag.Course.DepartmentCode + ViewBag.Course.CourseCode) - @(" " + test.TestName)</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-edit"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="EditTestName">Edit name</a></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- START: Edit test name section-->
                <input type="hidden" id="TestId" value="@test.TestId" />
                <div id="EditNameContainer" class="well hidden">
                    <form asp-action="PartialEditNameAndCourse" asp-controller="Instructor" asp-route-TestId="" id="new-department" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="col-md-9 col-xs-12">
                            <label for="TestName" class="control-label">Edit Test Name</label>
                            <input type="text" asp-for="TestName" placeholder="Enter test name" class="form-control" value="@test.TestName">
                            <input asp-for="TestId" type="hidden" value="@test.TestId" />
                            <input asp-for="CourseId" type="hidden" value="@test.CourseId" />
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label class="control-label">&emsp;</label>
                            <table>
                                <tr>
                                    <td><a id="cancelEditTestName" class="btn btn-danger">Cancel</a>
                                    <td> <button type="submit" class="btn btn-primary">Save</button></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
                <!-- END: Edit test name section-->
                <!-- START: Statistics -->
                <h3>General</h3>
                <hr />
                <div class="animated flipInY col-md-4 col-sm-12 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-dot-circle-o"></i>
                        </div>
                        <div id="TotalPointsStats" class="count">0</div>
                        <h3>Total Points</h3>
                    </div>
                </div>
                <div class="animated flipInY  col-md-4 col-sm-12 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-question"></i>
                        </div>
                        <div id="TotalQuestionsStats" class="count">0</div>
                        <h3>Questions</h3>
                    </div>
                </div>
                <div class="animated flipInY col-md-4 col-sm-12 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon">
                            <i class="fa fa-sort-alpha-asc"></i>
                        </div>
                        <div id="TotalSectionsStats" class="count">0</div>
                        <h3>Sections</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- END: Statistics -->
                <!-- START: Schedule -->
                <h3>Schedule</h3>
                <hr />
                <div id="NoScheduledTestContainer" class="text-center">
                    <p>This test has not been scheduled yet.</p>
                    <hr />
                </div>
                <table id="TestAssignmentTable" class="table table-striped hidden">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Availability</th>
                            <th>Time Limit</th>
                            <th>Students Assigned</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <!-- END: Schedule -->
                <!-- START: New Test Schedule -->
                <div id="NewScheduleContainer" class="well hidden">
                    <h4><i class="fa fa-calendar"></i> New Schedule</h4>
                    <hr />
                    <div class="col-md-8 col-sm-12">
                        Test Availability
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                        <input type="text" name="testScheduleDateTime" id="testScheduleDateTime" class="form-control" value="01/01/2016 - 01/25/2016">
                                    </div>
                                </div>
                                <span class="text-danger hidden" id="startTimeErrorMessage">The start time must be in the future</span>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-2 col-sm-8 col-xs-12">
                        Time Limit (Minutes)
                        <input type="number" id="TimeLimit" min="1" class="form-control" name="TimeLimit" required="" value="50">
                        <span class="text-danger hidden" id="timeLimitErrorMessage">The time limit must be grater then zero</span>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="checkbox">
                            &emsp;
                            <div class="control-group">
                                <label for="UnlimitedTimeCheckBox">
                                    <input type="checkbox" name="UnlimitedTimeCheckBox" id="UnlimitedTimeCheckBox" />  Unlimited
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <!-- Start: Student Test Assignmnet -->

                    <hr />
                    <!-- Start: Left -->
                    <div class=" col-md-8 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h4><i class="fa fa-users"></i> Assign</h4>
                            </div>
                            <div class="x_content">
                                Select a section:
                                <select id="SelectSection" class="form-control" required="">
                                    <option selected disabled="disabled">-- Choose a Section --</option>
                                    @foreach (Section classSection in sections)
                                    {
                                        <option value="@classSection.SectionId">Section @classSection.SectionNumber</option>
                                    }
                                </select>
                                <br />
                                <div class="clearfix"></div>
                                <button id="AssignEntireSection" type="button" class="btn btn-sm btn-primary alignright"><i class="fa fa-pie-chart"></i> Entire Section</button>
                                <div class="clearfix"></div>
                                <hr />
                                <div id="SectionNotSelectedContainer">
                                    <div class="text-center"><p>Please select a section</p></div>
                                </div>

                                <div id="StudentsInSectionTableContainer" class="hidden">
                                    <table id="StudentsInSectionTable" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <hr />
                                <button Id="AssignSelectedStudents" type="button" class="btn btn-sm btn-primary alignright"><i class="fa fa-users"></i> Selected Students</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Start: Right -->
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div id="AssignedTablePlaceHolder">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h4><i class="fa fa-users"></i> Assigned</h4>
                                </div>
                                <div class="x_content">
                                    <i class="fa fa-pie-chart"></i> Sections
                                    &emsp;
                                    <p id="NoSectionsAssignedTest" class="">There are no entire section assigned.</p>
                                    <!--Sections assigned table-->
                                    <table id="SectionsAssignedTest" class="table table-striped hidden">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Section</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <hr />
                                    <i class="fa fa-user"></i>  Individual Students
                                    <p id="NoStudentsAssignedTest">There are no indivisual students assigned.</p>
                                    <table id="StudentsAssignedTest" class="table table-striped hidden">
                                        <thead>
                                            <tr>
                                                <th>Section</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- End: Student Test Assignmnet-->

                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <table class="alignright">
                        <tr>
                            <td><a id="CancelNewSchedule" class="btn btn-danger">Cancel</a>
                            <td><button id="SaveNewTestSchedule" type="button" class="btn btn-primary">Save New Schedule</button></td>
                        </tr>
                    </table>
                    <div class="clearfix"></div>
                </div>
                <!-- END: New Test Schedule -->
                <div class="text-right">
                    <a id="NewSchedule" class="btn btn-round btn-info">New Schedule</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TestSections"></div>

<div id="AddTestSection">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="clearfix"></div>
            <div class="text-center">
                <button type="button" id="AddTestSectionBtn" class="btn btn-lg btn-round btn-primary"><i class="fa fa-plus"></i> &nbsp;Add Section</button>
                <a asp-controller="Instructor" asp-action="ViewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn  btn-round btn-lg btn-success pull-right"><i class="fa fa-check"></i> Finish</a>
            </div>
        </div>
    </div>
</div>

<!-- Confirm deletion Modal -->
<div id="confirm-deletion-modal" class="modal fade confirm-delition-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><i class="fa fa-mortar-board"></i>Confirm Delete</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" id="cancelDelete" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="confirmDeletion" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/vendors/autosize/dist/autosize.min.js"></script>
    <script type="text/javascript" src="~/vendors/handlebars/handlebars-v4.1.1.js"></script>
    <script type="text/javascript" src="~/js/EditTest.js"></script>
}