@using BrainNotFound.Paper.Models.BusinessModels

@{
    ViewData["Title"] = "Dashboard - Instructor";
}

<!--Display tests that need to be graded-->
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Tests that require grading</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content2">
            <div class="x_content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Test Name</th>
                            <th># of Essays</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Tests.Count > 0)
                        {
                            @foreach (Test t in ViewBag.Tests)
                            {
                                int essayCounter = 0;
                                foreach (StudentEssayAnswer sea in ViewBag.EssayGrading)
                                {
                                    if (sea.TestSchedule.TestId == t.TestId)
                                    {
                                        essayCounter++;
                                    }
                                }
                                <tr>
                                    <td>@t.TestName</td>
                                    <td>@essayCounter</td>
                                    <td>
                                        <a asp-controller="Instructor" asp-action="GradeTest" asp-route-DepartmentCode="@t.Course.Department.DepartmentCode" asp-route-CourseCode="@t.Course.CourseCode" asp-route-URLSafeName="@t.URLSafeName" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Grade </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>There are no tests that need to be graded at the moment. Enjoy the break!</tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- pie chart -->
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-3 col-xs-12">Select Test</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <select class=" form-control TestChartSelection">
                        <option value="">--Select Test--</option>

                        @foreach (Test t in ViewBag.Tests)
                        {
                            <option value="@t.TestId"> @t.TestName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div id="graph"></div>
    </div>
</div>
<!-- /Pie chart -->

<div class="clearfix"></div>

@section scripts {
    <script type="text/javascript" src="~/js/InstructorIndex.js"></script>
}
