@using BrainNotFound.Paper.Models.BusinessModels
@{
    ViewData["Title"] = "List Tests - Instructor";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text"></i> Upcoming Tests</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p>Click checkbox to select multiple courses.</p>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action ">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title">Name </th>
                                <th class="column-title">Course</th>
                                <th class="column-title no-link last">
                                    <span class="nobr">Action</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Test test in ViewBag.UpcomingTests)
                            {
                                <tr class="odd pointer">
                                    <td class="a-center ">
                                        <input type="checkbox" class="flat" name="table_records">
                                    </td>
                                    <td class=" ">@test.TestName</td>
                                    @{
                                        string DepartmentCodeAndCourseCode;
                                        List<Course> courses = ViewBag.Courses;
                                        List<Department> departments = ViewBag.Departments;
                                        Course currentCourse = courses.Where(c => c.CourseId == test.CourseId).First();
                                        Department currentDepartment = departments.Where(d => d.DepartmentId == currentCourse.DepartmentId).First();
                                        DepartmentCodeAndCourseCode = currentDepartment.DepartmentCode + " " + currentCourse.CourseCode;

                                    }
                                    <td class=" ">@DepartmentCodeAndCourseCode</td>
                                    <td class=" last">
                                        <a class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                        <a asp-controller="Instructor" asp-action="EditTest" asp-route-DepartmentCode="@currentDepartment.DepartmentCode" asp-route-CourseCode="@currentCourse.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                        <button  type="submit" data-target="#ConfirmModal" data-testId="@test.TestId" class="btn btn-danger btn-xs confirmDelete"><i class="fa fa-trash-o"></i> Delete </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!--View all previous tests-->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-file-text"></i> Previous Tests</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <p>Click checkbox to select multiple courses.</p>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action ">
                <thead>
                    <tr class="headings">
                        <th>
                            <input type="checkbox" id="check-all" class="flat">
                        </th>
                        <th class="column-title">Name </th>
                        <th class="column-title">Course</th>
                        <th class="column-title no-link last">
                            <span class="nobr">Action</span>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Test test in ViewBag.PreviousTests)
                    {
                        <tr class="odd pointer">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">@test.TestName</td>
                            @{
                                string DepartmentCodeAndCourseCode;
                                List<Course> courses = ViewBag.Courses;
                                List<Department> departments = ViewBag.Departments;
                                Course currentCourse = courses.Where(c => c.CourseId == test.CourseId).First();
                                Department currentDepartment = departments.Where(d => d.DepartmentId == currentCourse.DepartmentId).First();
                                DepartmentCodeAndCourseCode = currentDepartment.DepartmentCode + " " + currentCourse.CourseCode;

                            }
                            <td class=" ">@DepartmentCodeAndCourseCode</td>
                            <td class=" last">
                                <a class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a asp-controller="Instructor" asp-action="EditTest" asp-route-DepartmentCode="@currentDepartment.DepartmentCode" asp-route-CourseCode="@currentCourse.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <button type="submit" data-target="#ConfirmModal" data-testId="@test.TestId" class="btn btn-danger btn-xs confirmDelete"><i class="fa fa-trash-o"></i> Delete </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Confirm Deleting Modal-->
<div id="ConfirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Warning: Deleting Test</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this test?</p>
                <div class="modal-footer">
                    <button id="YesDelete" type="button" class="btn btn-default">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message Modal-->
<div id="ErrorModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Delete Test Error</h4>
            </div>
            <div class="modal-body">
                <p id="errorMessagePlaceHolder"></p>
                <div class="modal-footer">
                    <button id="MessageClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <!--CreateTest functions-->
    <script type="text/javascript" src="~/js/Tests.js"></script>
}