@using BrainNotFound.Paper.Models.BusinessModels
@model BrainNotFound.Paper.Models.BusinessModels.Course;
@{
    ViewData["Title"] = "View Course - Instructor";
}

<!--Course and section information-->
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> Course Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        @{
                            String name;
                            name = ViewBag.department.DepartmentCode + " " + ViewBag.course.CourseCode;
                        }
                        <h3>@name @ViewBag.course.Name</h3>
                        <ul class="list-unstyled user_data">
                            <li>
                                <b>Credit Hours:</b> @ViewBag.course.CreditHours
                            </li>
                            <li>
                                <b> Description:</b> @ViewBag.course.Description
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!--START: Section information-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-pie-chart"></i> Sections</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="SectionsTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Section Number</th>
                                <th>Location</th>
                                <th>Capcity</th>
                                <th>Day</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in ViewBag.sectionsList)
                            {
                                // Find the meeting times for each section
                                List<String> days = new List<string>();
                                List<SectionMeetingTime> sectionMeetingTimes = ViewBag.sectionMeetingTimeList;
                                var sectionMeetingTime = sectionMeetingTimes.Where(smt => smt.SectionId == s.SectionId).ToList();
                                foreach (SectionMeetingTime smt in sectionMeetingTime)
                                {
                                    days.Add(smt.Day);
                                }
                                String day = string.Join(", ", days);
                                <tr>
                                    <td>@s.SectionNumber</td>
                                    <td>@s.Location</td>
                                    <td>@s.Capacity</td>
                                    <td>@day</td>
                                    <td>
                                        <a asp-controller="Instructor" asp-action="ViewSection" asp-route-code="@ViewBag.department.DepartmentCode@ViewBag.course.CourseCode" asp-route-sectionNumber="@s.SectionNumber" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--END: Section information-->
    </div>
</div>

<!--View Upcoming Tests-->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text"></i> Upcoming Tests</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            @if (ViewBag.UpcomingTests.Count > 0)
            {
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="UpcomingTestTable" class="table table-striped jambo_table bulk_action ">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Name </th>
                                    <th class="column-title">Course</th>
                                    <th class="column-title">Availability</th>
                                    <th class="column-title">In Progress</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Test test in ViewBag.UpcomingTests)
                                {
                                    <tr class="odd pointer">
                                        <td class=" ">@test.TestName</td>
                                        <td class=" ">@test.Course.Department.DepartmentCode @test.Course.CourseCode</td>
                                        <td class=" ">@(test.TestSchedules.Where(x => x.TestId == test.TestId).FirstOrDefault() == null ? "Unscheduled" : test.TestSchedules.Where(x => x.TestId == test.TestId).FirstOrDefault().GetAvailability())</td>
                                        @{
                                            bool inProgress = false;
                                            foreach (TestSchedule ts in ViewBag.InProgress)
                                            {
                                                foreach (StudentTestAssignment sta in ts.StudentTestAssignments)
                                                {
                                                    if (ts.TestId == test.TestId)
                                                    {
                                                        if (!(sta.TestScheduleId == ts.TestScheduleId && sta.StartedTime < new DateTime(0001, 01, 02, 00, 00, 00, 0000000)))
                                                        {
                                                            inProgress = true;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @if (inProgress)
                                        {
                                            <td>&#x2713;</td>
                                        }
                                        else
                                        {
                                            <td>&chi;</td>
                                        }

                                        <td class=" last">
                                            @if (inProgress)
                                            {
                                                <a asp-controller="Instructor" asp-action="ViewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View</a>
                                            }
                                            else
                                            {
                                                <a asp-controller="Instructor" asp-action="ViewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View</a>
                                                <a asp-controller="Instructor" asp-action="EditTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <button type="submit" data-target="#ConfirmModal" data-testId="@test.TestId" class="btn btn-danger btn-xs confirmDelete"><i class="fa fa-trash-o"></i> Delete </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <p>There are no upcoming tests to be displayed</p>
            }
        </div>
    </div>
</div>

<!--View all previous tests-->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-file-text"></i> Previous Tests</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    @if (ViewBag.PreviousTests.Count > 0)
    {
        List<StudentTestAssignment> ManualGradingRequired = new List<StudentTestAssignment>();
        ManualGradingRequired = ViewBag.ManualGradingRequired;
        <div class="x_content">
            <div class="table-responsive">
                <table id="PreviousTestTable" class="table table-striped jambo_table bulk_action ">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Name </th>
                            <th class="column-title">Course</th>
                            <th class="column-title">Date Completed</th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Test test in ViewBag.PreviousTests)
                        {
                            <tr class="odd pointer">
                                <td class=" ">@test.TestName</td>
                                <td class=" ">@test.Course.Department.DepartmentCode @test.Course.CourseCode</td>
                                <td class=" ">@test.TestSchedules.Where(x => x.TestId == test.TestId).First().GetAvailability()</td>
                                <td class=" last">
                                    <a asp-controller="Instructor" asp-action="ViewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View</a>
                                    <a asp-controller="Instructor" asp-action="ReviewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-dark btn-xs"><i class="fa fa-folder"></i> View Student Tests </a>

                                    @if (ManualGradingRequired.Where(x => x.TestSchedule.TestId == test.TestId && x.ManualGradingRequired == true).Any())
                                    {
                                        <a asp-controller="Instructor" asp-action="GradeTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Grade</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>There are no previous tests to be displayed.</p>
    }
</div>

@section scripts
{
    <!--DataTable for the Upcoming tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#UpcomingTestsTable').DataTable({
                "order": [2, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [4] }
                ],
            });
        });
    </script>

    <!--DataTable for the Previous tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#PreviousTestsTable').DataTable({
                "order": [2, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [3] }
                ],
            });
        });
    </script>
}