@using BrainNotFound.Paper.Models.BusinessModels
@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;
@{
    ViewData["Title"] = "View Section Info - Instructor";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-book"></i> Section Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a>Edit information</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h3>@ViewBag.course.Name @ViewBag.course.CourseCode - @ViewBag.section.SectionNumber</h3>
                        <ul class="list-unstyled user_data">
                            <li>
                                <b>Capacity</b> @ViewBag.section.Capacity
                            </li>
                            <li>
                                <b> Location:</b> @ViewBag.section.Location
                            </li>
                            <li>
                                @{
                                    // Find the meeting times for the section
                                    List<String> days = new List<string>();
                                    List<SectionMeetingTime> sectionMeetingTimes = ViewBag.sectionMeetingTimeList;
                                    DateTime startTime = new DateTime();
                                    DateTime endTime = new DateTime();
                                    var sectionMeetingTime = sectionMeetingTimes.Where(smt => smt.SectionId == ViewBag.section.SectionId).ToList();
                                    foreach (SectionMeetingTime smt in sectionMeetingTime)
                                    {
                                        days.Add(smt.Day);
                                        startTime = smt.StartTime;
                                        endTime = smt.EndTime;
                                    }
                                    String day = string.Join(", ", days);
                                }
                                <b>Days Meeting: </b> @day
                            </li>
                            <li>
                                <b>Start Time: </b> @startTime.ToString("h:mm tt")
                            </li>
                            <li>
                                <b>End Time:</b> @endTime.ToString("h:mm tt")
                            </li>
                            <li>
                                @{
                                    ApplicationUser instructor = new ApplicationUser();
                                    foreach (var i in ViewBag.instructorList)
                                    {
                                        if (i.Id == ViewBag.section.InstructorId)
                                        {
                                            instructor = (ApplicationUser)i;
                                        }
                                    }
                                }
                                <b>Instructor: </b>@instructor.FirstName @instructor.LastName
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
            <!--Students who are in this section-->
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-user"></i> Students Enrolled</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Click checkbox to select multiple Students.</p>
                    <div class="table-responsive">
                        <table id="StudentTable" class="table table-striped jambo_table bulk_action ">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">First Name </th>
                                    <th class="column-title">Last name </th>
                                    <th class="column-title">Classification </th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var s in ViewBag.students)
                                {
                                    foreach (var e in ViewBag.enrollment)
                                    {
                                        if (s.Id == e.StudentId && e.SectionId == ViewBag.section.SectionId)
                                        {
                                            <tr class="odd pointer">
                                                <td class=" ">@s.FirstName </td>
                                                <td class=" ">@s.LastName </td>
                                                <td class=" ">@s.Classification </td>
                                                <td class=" last">
                                                    <a asp-controller="Instructor" asp-action="ViewStudentProfile" asp-route-UserName="@s.UserName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!--View Upcoming Tests-->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text"></i> Upcoming Tests</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            @if (ViewBag.UpcomingTests.Count > 0)
            {
                <div class="x_content">
                    <p>Click checkbox to select multiple courses.</p>
                    <div class="table-responsive">
                        <table id="UpcomingTestTable" class="table table-striped jambo_table bulk_action ">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Name </th>
                                    <th class="column-title">Course</th>
                                    <th class="column-title">Start Time</th>
                                    <th class="column-title">End Time</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (TestSchedule test in ViewBag.UpcomingTests)
                                {
                                    <tr class="odd pointer">
                                        <td class=" ">@test.Test.TestName</td>
                                        <td class=" ">@ViewBag.department.DepartmentCode @ViewBag.course.CourseCode</td>
                                        <td class=" ">@String.Format("{0:f}", test.Test.TestSchedules.Select(x => x.StartTime).First())</td>
                                        <td class=" ">@String.Format("{0:f}", test.Test.TestSchedules.Select(x => x.EndTime).First())</td>
                                        <td class=" last">
                                            <a class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            }
            else
            {
                <p>There are no upcoming tests to be displayed</p>
            }
        </div>
    </div>
</div>

<!--View all previous tests-->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-file-text"></i> Previous Tests</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    @if (ViewBag.PreviousTests.Count > 0)
    {
        <div class="x_content">
            <p>Click checkbox to select multiple courses.</p>
            <div class="table-responsive">
                <table id="PreviousTestTable" class="table table-striped jambo_table bulk_action ">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Name </th>
                            <th class="column-title">Course</th>
                            <th class="column-title">Start Time</th>
                            <th class="column-title">End Time</th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; if;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TestSchedule test in ViewBag.PreviousTests)
                        {
                            <tr class="odd pointer">
                                <td class=" ">@test.Test.TestName</td>
                                <td class=" ">@ViewBag.department.DepartmentCode @ViewBag.course.CourseCode</td>
                                <td class=" ">@String.Format("{0:f}", test.Test.TestSchedules.Select(x => x.StartTime).First())</td>
                                <td class=" ">@String.Format("{0:f}", test.Test.TestSchedules.Select(x => x.EndTime).First())</td>
                                <td class=" last">
                                    <a class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>There are no previous tests to be displayed.</p>
    }
</div>

@section scripts {
    <!--Datatable script for the students-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#StudentTable').DataTable({
                "order": [0, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [3] }
                ],
            });
        });
    </script>

    <!--Datatable script for the previous tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#PreviousTestTable').DataTable({
                "order": [2, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [4] }
                ],
            });
        });
    </script>

    <!--Datatable script for the upcoming tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#UpcomingTestTable').DataTable({
                "order": [2, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [4] }
                ],
            });
        });
    </script>
}