@using BrainNotFound.Paper.Models.BusinessModels
@model BrainNotFound.Paper.Models.BusinessModels.ApplicationUser;
@{
    ViewData["Title"] = "View Section Info - Instructor";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-pie-chart"></i> Section Information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a>Edit information</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-10 col-sm-10 col-xs-12">
                        <h3>@ViewBag.course.Name @ViewBag.course.CourseCode - @ViewBag.section.SectionNumber</h3>
                        <ul class="list-unstyled user_data">
                            <li>
                                <b>Capacity</b> @ViewBag.section.Capacity
                            </li>
                            <li>
                                <b> Location:</b> @ViewBag.section.Location
                            </li>
                            <li>
                                @{
                                    // Find the meeting times for the section
                                    List<String> days = new List<string>();
                                    List<SectionMeetingTime> sectionMeetingTimes = ViewBag.sectionMeetingTimeList;
                                    DateTime startTime = new DateTime();
                                    DateTime endTime = new DateTime();
                                    var sectionMeetingTime = sectionMeetingTimes.Where(smt => smt.SectionId == ViewBag.section.SectionId).ToList();
                                    foreach (SectionMeetingTime smt in sectionMeetingTime)
                                    {
                                        days.Add(smt.Day);
                                        startTime = smt.StartTime;
                                        endTime = smt.EndTime;
                                    }
                                    String day = string.Join(", ", days);
                                }
                                <b>Days Meeting: </b> @day
                            </li>
                            <li>
                                <b>Start Time: </b> @startTime.ToString("h:mm tt")
                            </li>
                            <li>
                                <b>End Time:</b> @endTime.ToString("h:mm tt")
                            </li>
                            <li>
                                @{
                                    ApplicationUser instructor = new ApplicationUser();
                                    foreach (var i in ViewBag.instructorList)
                                    {
                                        if (i.Id == ViewBag.section.InstructorId)
                                        {
                                            instructor = (ApplicationUser)i;
                                        }
                                    }
                                }
                                <b>Instructor: </b>@instructor.FirstName @instructor.LastName
                            </li>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
            <!--Students who are in this section-->
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-users"></i> Students Enrolled</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Click checkbox to select multiple Students.</p>
                    <div class="table-responsive">
                        <table id="StudentTable" class="table table-striped jambo_table bulk_action ">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">First Name </th>
                                    <th class="column-title">Last name </th>
                                    <th class="column-title">Classification </th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var s in ViewBag.students)
                                {
                                    foreach (var e in ViewBag.enrollment)
                                    {
                                        if (s.Id == e.StudentId && e.SectionId == ViewBag.section.SectionId)
                                        {
                                            <tr class="odd pointer">
                                                <td class=" ">@s.FirstName </td>
                                                <td class=" ">@s.LastName </td>
                                                <td class=" ">@s.Classification </td>
                                                <td class=" last">
                                                    <a asp-controller="Instructor" asp-action="ViewStudentProfile" asp-route-UserName="@s.UserName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!--View Upcoming Tests-->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-file-text"></i> Upcoming Tests</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            @if (ViewBag.UpcomingTests.Count > 0)
            {
                <div class="x_content">
                    <div class="table-responsive">
                        <table id="UpcomingTestTable" class="table table-striped jambo_table bulk_action ">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Name </th>
                                    <th class="column-title">Course</th>
                                    <th class="column-title">Availability</th>
                                    <th class="column-title">In Progress</th>
                                    <th class="column-title no-link last">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Test test in ViewBag.UpcomingTests)
                                {
                                    <tr class="odd pointer">
                                        <td class=" ">@test.TestName</td>
                                        <td class=" ">@test.Course.Department.DepartmentCode @test.Course.CourseCode</td>
                                        <td class=" ">@(test.TestSchedules.Where(x => x.TestId == test.TestId).FirstOrDefault() == null ? "Unscheduled" : test.TestSchedules.Where(x => x.TestId == test.TestId).FirstOrDefault().GetAvailability())</td>
                                        @{
                                            bool inProgress = false;
                                            foreach (TestSchedule ts in ViewBag.InProgress)
                                            {
                                                foreach (StudentTestAssignment sta in ts.StudentTestAssignments)
                                                {
                                                    if (ts.TestId == test.TestId)
                                                    {
                                                        if (!(sta.TestScheduleId == ts.TestScheduleId && sta.StartedTime < new DateTime(0001, 01, 02, 00, 00, 00, 0000000)))
                                                        {
                                                            inProgress = true;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        @if (inProgress)
                                        {
                                            <td>&#x2713;</td>
                                        }
                                        else
                                        {
                                            <td>&chi;</td>
                                        }

                                        <td class=" last">
                                            @if (inProgress)
                                            {
                                                <a asp-controller="Instructor" asp-action="ViewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View</a>
                                            }
                                            else
                                            {
                                                <a asp-controller="Instructor" asp-action="ViewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View</a>
                                                <a asp-controller="Instructor" asp-action="EditTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <button type="submit" data-target="#ConfirmModal" data-testId="@test.TestId" class="btn btn-danger btn-xs confirmDelete"><i class="fa fa-trash-o"></i> Delete </button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <p>There are no upcoming tests to be displayed</p>
            }
        </div>
    </div>
</div>

<!--View all previous tests-->
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-file-text"></i> Completed Tests</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    @if (ViewBag.PreviousTests.Count > 0)
    {
        List<StudentTestAssignment> ManualGradingRequired = new List<StudentTestAssignment>();
        ManualGradingRequired = ViewBag.ManualGradingRequired;
        <div class="x_content">
            <div class="table-responsive">
                <table id="PreviousTestTable" class="table table-striped jambo_table bulk_action ">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Name </th>
                            <th class="column-title">Course</th>
                            <th class="column-title">Date Completed</th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Test test in ViewBag.PreviousTests)
                        {
                            <tr class="odd pointer">
                                <td class=" ">@test.TestName</td>
                                <td class=" ">@test.Course.Department.DepartmentCode @test.Course.CourseCode</td>
                                <td class=" ">@test.TestSchedules.Where(x => x.TestId == test.TestId).First().GetAvailability()</td>
                                <td class=" last">
                                    <a asp-controller="Instructor" asp-action="ViewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View</a>
                                    <a asp-controller="Instructor" asp-action="ReviewTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-dark btn-xs"><i class="fa fa-folder"></i> View Student Tests </a>

                                    @if (ManualGradingRequired.Where(x => x.TestSchedule.TestId == test.TestId && x.ManualGradingRequired == true).Any())
                                    {
                                        <a asp-controller="Instructor" asp-action="GradeTest" asp-route-DepartmentCode="@test.Course.Department.DepartmentCode" asp-route-CourseCode="@test.Course.CourseCode" asp-route-URLSafeName="@test.URLSafeName" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Grade</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>There are no previous tests to be displayed.</p>
    }
</div>

@section scripts {
    <!--Datatable script for the students-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#StudentTable').DataTable({
                "order": [0, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [3] }
                ],
            });
        });
    </script>

    <!--Datatable script for the previous tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#PreviousTestTable').DataTable({
                "order": [2, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [3] }
                ],
            });
        });
    </script>

    <!--Datatable script for the upcoming tests-->
    <script type="text/javascript" charset="utf8">
        $(document).ready(function () {
            $('#UpcomingTestTable').DataTable({
                "order": [2, 'asc'],
                "columnDefs": [
                    { "orderable": false, "targets": [4] }
                ],
            });
        });
    </script>
}